[2013-08-01 18:49] ian-ross opened #1 "Wrong path in generated .hs file"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/1)

Trac ticket created: 2006-05-27T11:43:09-0700; last modified: 2010-04-23T11:06:44-0700

---

Priority: blocker

---

In the "foreign import ccall" declaration, in the generated .hs file, the path of the .h file is specified relative to the directory which c2hs has been called in. But GHC seems to interpret it relative to

[2013-08-01 18:49] ian-ross opened #2 "C function definitions in the generated .h file..."
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/2)

Trac ticket created: 2006-05-27T11:59:25-0700; last modified: 2007-11-23T08:40:09-0800

---

Priority: blocker

---

I'm using GHC with the --make switch.

The .h file generated by c2hs contains C declarations as well was definitions. It looks like GHC expects only definitions to be there.

The .h file is used by GHC onl

[2013-08-01 18:49] ian-ross opened #3 "Won't build on Mac OS X"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/3)

Trac ticket created: 2006-06-29T12:25:10-0700; last modified: 2007-11-27T08:09:08-0800

---

Priority: trivial

---

Version 0.14.5 doesn't build on Mac OS X 10.4.6 using GHC 6.4.1 and Cabal 1.1.4.

The following error message is generated:

`
~/Temp/c2hs-0.14.5$ ./Setup.hs configure

./Setup.hs:11:57:
    Couldn't match

[2013-08-01 18:49] ian-ross opened #4 "Running an outmarshaller, but ignoring its return value."
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/4)

Trac ticket created: 2007-11-27T09:18:55-0800; last modified: 2008-08-22T06:00:45-0700

---

With C functions that return an errorcode, it is useful to check the errorcode and raise an exception in the `IO` monad without returning the errorcode explicitly.  In the example below, if the outmarshaller is not flagged with `

[2013-08-01 18:49] ian-ross opened #5 "support for enum define hooks"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/5)

Trac ticket created: 2008-02-29T01:52:25-0800; last modified: 2012-10-07T16:34:49-0700

---

Hi!

Any chance for "enum define" hooks to be implemented and/or how you suggest to do it now when one has library with lot of #define's ?

Sincerely,
Gour

[2013-08-01 18:49] ian-ross opened #6 "Problem with c2hs on Mac OS Leopard"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/6)

Trac ticket created: 2008-03-06T10:51:51-0800; last modified: 2010-04-23T10:53:22-0700

---

I'm trying to use c2hs, but it barfs when it tries to parse "available.h" (which is #included by "stdlib.h").  The error I get is

c2hs: Error in C header file.

/usr/include/available.h:85: (column 5) [FATAL]

The offending port

[2013-08-01 18:49] ian-ross opened #7 "compile gtk2hs failed under locale zh_CN.utf8"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/7)

Trac ticket created: 2008-06-19T14:16:39-0700; last modified: 2013-02-08T19:41:17-0800

---

Bug previously reported in the [http://hackage.haskell.org/trac/ghc/ticket/2384 ghc trac]

---

when compile gtk2hs under locale zh_CN.utf8, I got:

[code]

when I compile it using locale POSIX, it succeed.

[2013-08-01 18:49] ian-ross opened #8 "haskell keywords should be treated as identifiers in `apath'"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/8)

Trac ticket created: 2008-07-30T17:55:51-0700

---

c2hs fails to parse paths of get and set hooks when some of the identifiers in the path are haskell keywords.

[code]

[code]

[code]

The problem is that the lexer does not distinguish haskell-mode and c-mode.
I've attached a fix, which converts keywords back to plain

[2013-08-01 18:49] ian-ross opened #9 "sizeof computation fails for nested derived types (pointer to array or array of pointers)"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/9)

Trac ticket created: 2008-08-01T13:32:18-0700; last modified: 2011-01-19T16:39:31-0800

----

c2hs reports the wrong size of nested derived types.
[code]

[code]

The reason for this is that the analysis code assumes that *pointer to T* is represented as `CPointerDeclr TDeclr`, but it is actually parsed as `TDeclr (...(C

[2013-08-01 18:49] ian-ross opened #10 "sizeof computation fails if small bitfields are present"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/10)

Trac ticket created: 2008-08-01T13:41:03-0700; last modified: 2010-04-23T10:22:02-0700

----

*sizeof* seems to assume that e.g. <8-bit bitfields of type *int32* only take 1 byte.
[code]

[code]

Environment:
[code]

[2013-08-01 18:49] ian-ross opened #11 "cpp arguments not passed correctly on Windows"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/11)

Trac ticket created: 2008-08-01T15:56:26-0700; last modified: 2010-04-23T10:49:13-0700

---

Arguments to cpp, specifically include pathnames with spaces, aren't properly passed to cpp on Windows.  c2hs should use runProcess to call cpp.

---

Original Trac ticket had attachments:
- [fixCppCall.sendp](/trac/c2hs/attachm

[2013-08-01 18:49] ian-ross opened #12 "call hook bug when C function starts with uppercase letter"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/12)

Trac ticket created: 2008-08-16T03:19:40-0700; last modified: 2008-08-17T05:27:45-0700

---

Here's an example:

Header file:
`
void C();
`
chs file:
`
main = {# call C as c #}
`
expected
`
main = c
foreign import ccall safe "capital.h C" c :: (IO ())
`
actual (invalid haskell)
`
main = C
foreign import ccall safe "capi

[2013-08-01 18:49] ian-ross opened #13 "allowing arbitrary expressions as marshallers"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/13)

Trac ticket created: 2008-08-21T00:13:22-0700; last modified: 2008-08-26T05:26:34-0700

---

Hi!

It would be nice to allow to have arbitrary expressions as marshallers instead of functions-only.

The workaround described in http://haskell.org/pipermail/c2hs/2007-June/000794.html thread does not work for inmarshallers

[2013-08-01 18:50] ian-ross opened #14 "Add COrOp and CAndOp to applyBin"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/14)

Trac ticket created: 2009-01-24T13:49:16-0800; last modified: 2009-01-27T13:56:16-0800

---

diff -rN old-c2hs/src/C2HS/Gen/Bind.hs new-c2hs/src/C2HS/Gen/Bind.hs
112a113

-- ksf

[2013-08-01 18:50] ian-ross opened #15 "c2hs doesn't understand enums on Mac OSX"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/15)

Trac ticket created: 2009-02-16T15:23:33-0800

----

Mac OSX libraries are full of the following:

enum {
  kClippingCreator              = 'drag',
  kClippingPictureType          = 'clpp',
  kClippingTextType             = 'clpt',
  kClippingSoundType            = 'clps',
  kClippingUnknownType          = 'clpu'
};

c2

[2013-08-01 18:50] ian-ross opened #16 "Include directive on first line produces invalid Haskell source"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/16)

Trac ticket created: 2009-03-14T17:47:58-0700

---

Example:

Foo.chs (exactly one newline in the file, at the end):

[code]

foo.h is empty. Run "c2hs Foo.chs". Foo.hs will contain this as the last line:

[code]

Upon compilation, ghc chokes with:

[code]

Problem is fixed by adding one extra newline before the include

[2013-08-01 18:50] ian-ross opened #17 "c2hs assumes ccall when it should automagically support stdcall for ffi imports"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/17)

Trac ticket created: 2009-04-01T15:37:50-0700; last modified: 2011-10-04T07:52:24-0700

---

**context:**

`

15:20 mae_work dcoutts: any plans to support stdcall in c2hs ?
15:20 mae_work it assumes ccall right now
15:20 mae_work trying to build some windows libs..
15:20 mae_work for work
15:20 dcoutts mae_work: oh, I w

[2013-08-01 18:50] ian-ross opened #18 "Cabal needs to tell c2hs to use gcc -E and where to find gcc"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/18)

Trac ticket created: 2009-04-02T10:17:24-0700; last modified: 2009-04-02T15:24:33-0700

---

`
10:14 dcoutts mae_work: oh, hmm. Perhaps Cabal needs to tell c2hs to use gcc -E and where to find gcc.
10:14   **\* zerny quit (Read error: 110 (Connection timed out))
10:15 mae_work dcoutts: yeah... and also, even when i do g

[2013-08-01 18:50] ian-ross opened #19 "Allow prefixes to be replaced, not just removed"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/19)

Trac ticket created: 2009-06-26T19:43:28-0700

---

Given an enumeration such as:

[code]

The weird prefix makes typing the Haskell type constructors a pain. It's currently possible to remove the prefix entirely. However, this can cause conflicts with existing Haskell types (such as the "nothing" case above). It would

[2013-08-01 18:50] ian-ross opened #20 "Map the `size_t' C type to Foreign.C.CSize"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/20)

Trac ticket created: 2009-07-04T21:27:02-0700; last modified: 2009-09-30T21:18:58-0700

----

Currently, size_t is mapped to either CUInt or CULong, depending on the native integer size. This means that type signatures will not be portable between 32- and 64-bit installations.

[2013-08-01 18:50] ian-ross opened #21 "When generating superclass instances, C2HS incorrect emits method names from the terminal class"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/21)

Trac ticket created: 2009-08-09T17:23:53-0700; last modified: 2009-08-09T17:25:16-0700

---

When processing this kind of class hook (example from tests/system/Pointer.chs):

-- test classes
{#pointer *Point as APoint newtype#}
{#class APointClass APoint#}

{#pointer *ColourPoint as AColourPoint newtype#}
{#class APoint

[2013-08-01 18:50] ian-ross opened #22 ""offsetof" directive to obtain offset within struct to struct member"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/22)

Trac ticket created: 2009-08-16T10:45:26-0700

---

I find it useful to be able to obtain the offset to a struct member within a struct, e.g. for constructing pointers to members. get and set implicitly do this when constructing their code.

I've implemented a working version of this in my local repository, and I was ho

[2013-08-01 18:50] ian-ross opened #23 "Allow forward definition of enums"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/23)

Trac ticket created: 2009-09-22T12:35:40-0700

---

foo.h:

[code]

[code]

Strictly speaking this is true, in `-pedantic` mode gcc reports:

[code]

However it's clearly not a very serious issue since the warning is only included in `-pedantic` and is accepted without warning even in `-std=c99 -Wall` mode. In particula

[2013-08-01 18:50] ian-ross opened #24 "Use CPP line information when present"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/24)

Trac ticket created: 2009-10-26T05:13:24-0700

---

<dcoutts> fasta: if you want to do more patching it'd be possible to make the .chs parser recognise cpp line pragmas and to update the internal chs "current line" info appropriately
<dcoutts> so c2hs would output {-# LINE pragmas, and not the cpp #1 ones, but properly

[2013-08-01 18:50] ian-ross opened #25 "Map the `wchar_t' C type to Foreign.C.CWChar"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/25)

Trac ticket created: 2009-12-19T23:17:01-0800

----

This would allow re-using the CWString APIs in procedures using wchar_t and wchar_t* as parameters and return values.

[2013-08-01 18:50] ian-ross opened #26 "error while compiling C2HS with GHC 6.12.1"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/26)

Trac ticket created: 2010-01-26T14:38:11-0800; last modified: 2010-04-23T10:00:40-0700

---

Priority: blocker

---

`
[24 of 26] Compiling C2HS.C.Info      ( src/C2HS/C/Info.hs, dist/build/c2hs/c2hs-tmp/C2HS/C/Info.o )

src/C2HS/C/Info.hs:117:53:
    Not in scope: type constructor or class `CLDouble'

src/C2HS/C/Info.h

[2013-08-01 18:50] ian-ross opened #27 "c2hs can't parse large .chs files without consuming too much RAM"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/27)

Trac ticket created: 2010-01-26T16:39:56-0800

----

[code]

steps to reproduce:

[code]

After that c2hs consumes up to 2 gigs of RAM and dies.

Size of the processed Color.chs is 6598 bytes.

[2013-08-01 18:50] ian-ross opened #28 "Repo is gone"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/28)

Trac ticket created: 2010-02-23T15:14:19-0800; last modified: 2010-04-23T10:42:11-0700

---

Priority: blocker

---

The homepage says http://www.cse.unsw.edu.au/~chak/haskell/c2hs/

[code]

 This doesn't work at all.

[2013-08-01 18:50] ian-ross opened #29 "C2HS chokes on Mac "^" block notation"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/29)

Trac ticket created: 2010-03-18T07:36:03-0700; last modified: 2010-06-15T10:12:28-0700

---

on Snow Leopard, /usr/include/stdlib.h contains Apple's new blocks notation, which c2hs seems unhappy with, despite it being protected by an #ifdef.

lines 271 onwards:
# ifdef **BLOCKS**

int      atexit_b(void (^)(void));
void

[2013-08-01 18:50] ian-ross opened #30 "--include flag cannot handle windows paths"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/30)

Trac ticket created: 2010-05-03T10:48:19-0700

---

c2hs splits the string passed via the `--include` flag on the ':' character. On Unix, ':' is the search path separator character and the `--include` flag is intended to accept a whole search path in one go. On Windows, absolute paths look like `c:\blah` and these get b

[2013-08-01 18:50] ian-ross opened #31 "c2hs should derive and use default marshallers from enum and pointer hooks"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/31)

Trac ticket created: 2010-05-27T17:26:12-0700

---

This is a FIXME in the source code, and I'm working on bindings that would really benefit from the DRY aspect of this feature.

Specifically, c2hs should derive the following in/out marshallers:
- `fromIntegral . fromEnum` and `toEnum . fromIntegral` from an enum hook

[2013-08-01 18:50] ian-ross opened #32 "#get generated code doesn't work on bitfields"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/32)

Trac ticket created: 2010-08-25T15:35:49-0700

---

Consider the following source files:

[code]

[code]

[code]

Compile as follows:

[code]

When you run the resulting executable, the expected output is 1, but the actual output is 0.

Looking at the generated HS:

[code]

The byte offset is obviously bogus (the import

[2013-08-01 18:50] ian-ross opened #33 "The symbol `*' does not fit here"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/33)

Trac ticket created: 2010-09-15T16:27:49-0700; last modified: 2010-09-18T06:07:34-0700

---

c2hs: C header contains errors:

/usr/include/cddb/cddb_cmd.h:79: (column 27) [ERROR]  >>> Syntax error !
  The symbol `*' does not fit here.

[2013-08-01 18:51] ian-ross opened #34 "C header contains errors"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/34)

Trac ticket created: 2010-09-17T17:35:18-0700; last modified: 2010-09-18T06:07:45-0700

---

Priority: blocker

---

c2hs: C header contains errors:

/usr/include/cdio/device.h:33: (column 20) [ERROR]  >>> Syntax error !
  The symbol `cdio_drive_read_cap_t' does not fit here.

[2013-08-01 18:51] ian-ross opened #35 "c2hs: Errors during expansion of binding hooks"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/35)

Trac ticket created: 2010-09-26T22:09:16-0700

---

Running c2hs on

[code]

produces:

c2hs: Errors during expansion of binding hooks:

/usr/include/cdio/device.h:428: (column 3) [ERROR]  >>> Illegal type!
  The type specifiers of this declaration do not form a legal ANSI C(89) type.

The C function cdio_get_hwinfo ret

[2013-08-01 18:51] ian-ross opened #36 "Allow parametrized yet monomorphic data types in {#pointer ... #}"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/36)

Trac ticket created: 2011-01-26T12:46:00-0800

----

Hello.

Currently pointer declaration could only use non-parametrized types. But sometimes it's too restrictive. I think examples below are self-explanatory:

This is OK but pointer is untyped

[code]

This doesn't work although it's perfectly sound. On syntactic leve

[2013-08-01 18:51] ian-ross opened #37 "Export C2HS.hs module from library part of the c2hs package"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/37)

Trac ticket created: 2011-03-05T09:39:33-0800; last modified: 2011-04-17T16:36:13-0700

---

I see some packages (portaudio, alsa) at Hackage, that contain a plain copy of the C2HS module. Wouldn't it be better to add a library part to the c2hs package and export the C2HS module?

[2013-08-01 18:51] ian-ross opened #38 "Need to think how to bind C enums with aliases"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/38)

Trac ticket created: 2011-08-26T02:01:18-0700

---

Consider this C enum:

[code]

Of course in C, enums are really ints, so it's ok to have aliases. It is the case that `GTK_ANCHOR_E = GTK_ANCHOR_EAST` since both enum names have the int value 9.

Currently c2hs binds this as:

[code]

Note in particular that the `toEnu

[2013-08-01 18:51] ian-ross opened #39 "language-c-0.4.2.0 compatibility"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/39)

Trac ticket created: 2011-09-10T06:32:25-0700; last modified: 2013-02-08T19:42:04-0800

---

Hi,

for Debian, I patched c2hs to build against the language-c in the latest version. The patch is purely type-driven, and not checked against possible changes in the semantics of language-c.

Thanks,
Joachim

[2013-08-01 18:51] ian-ross opened #40 "c2hs: fails reading its own intermediate representation (.chi)"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/40)

Trac ticket created: 2011-12-18T06:00:54-0800

---

This bug was reported against the Debian package of c2hs, at http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=652507

c2hs uses shown Language.C data structures as an intermediate
representation (the .chi files), and has its own code for parsing
them. It seems that Lan

[2013-08-01 18:51] ian-ross opened #41 "Build errors"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/41)

Trac ticket created: 2012-03-01T14:13:03-0800

---

A suitable c2hs version is available on Hackage, but Cabal doesn't see it when it tries to install CV.

[code]

Even after manually installing c2hs version 0.16.3, CV still doesn't see it.

[code]

Specs:

Mac OS X 10.7.3

[code]

[2013-08-01 18:51] ian-ross opened #42 "Nonstandard binary installation directory"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/42)

Trac ticket created: 2012-03-02T19:17:12-0800; last modified: 2013-02-08T19:39:23-0800

---

c2hs doesn't install in the proper directory (`~/.cabal/bin`). Instead, it installs in `/Users/andrew/Library/Haskell/ghc-7.0.3/lib/c2hs-0.16.3/bin`. This creates problems with subsequent packages which depend on c2hs's installa

[2013-08-01 18:51] ian-ross opened #43 "Please support anonymous enums"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/43)

Trac ticket created: 2012-07-03T22:07:06-0700; last modified: 2012-07-04T10:19:57-0700

---

c2hs doesn't currently support anonymous enums.  Please consider supporting them.  Ideally, a single name from the enum should suffice to identify it, and the enum declaration could supply a Haskell name for the enum.

[2013-08-01 18:51] ian-ross opened #44 "Foreign pointer declaration produces helper function without type signature, producing warning with -Wall"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/44)

Trac ticket created: 2012-07-04T00:07:26-0700

---

When given a pointer declaration for a foreign pointer, such as:

`
{# pointer *foo as ^ foreign newtype #}
`

c2hs produces a helper function withFoo, without a type signature. This causes GHC with -Wall to produce a warning message, "Warning: Top-level binding with n

[2013-08-01 18:51] ian-ross opened #45 "Please indent all output lines from a {# fun ... #} to match the input indentation, to allow it in a where clause"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/45)

Trac ticket created: 2012-07-04T10:27:06-0700

---

I tried to declare a {# fun ... #} in a where clause, but only the first line had the proper indentation, causing GHC to complain that "The type signature for `foo' lacks an accompanying binding" (because only the type signature appeared within the where clause).  Plea

[2013-08-01 18:51] ian-ross opened #46 "No way to create a foreign pointer for input and have it as an out parameter"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/46)

Trac ticket created: 2012-07-04T10:45:25-0700

----

I have quite a few C functions like this:

... func(oid *, ...);

oid refers to a non-opaque C struct, and these functions treat it as an out parameter; a C caller would define an instance of the struct (knowing its size) and pass the address of that structure to have

[2013-08-01 18:51] ian-ross opened #47 "Void functions produce a "defined but not used" warning for the result"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/47)

Trac ticket created: 2012-07-04T15:17:44-0700

---

Declaring a {# fun ... #} with return type `()' leads to the following warning from GHC:

Warning: Defined but not used: `res'

Please consider either using res or declaring it as _ in this case, to prevent the warning.

[2013-08-01 18:51] ian-ross opened #48 "Interpreted an int64_t typedef as CInt"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/48)

Trac ticket created: 2012-07-04T19:07:40-0700; last modified: 2012-07-05T00:16:38-0700

----

Priority: blocker

----

A library I'd like to write bindings to has a typedef of int64_t to a library-specific type name.  c2hs seems to interpret that type as CInt, both in foreign import declarations and in {# type #} direct

[2013-08-01 18:51] ian-ross opened #49 "Run return value marshaller before output parameter marshallers"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/49)

Trac ticket created: 2012-10-07T19:23:33-0700; last modified: 2013-02-08T19:35:44-0800

---

Many C functions provide an error code as a return value, and have output parameters that they do not set unless the return value indicates success.  Handling such functions requires checking the return value before running any

[2013-08-01 18:51] ian-ross opened #50 "Parenthesize marshallers, to preserve Haskell expressions"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/50)

Trac ticket created: 2012-10-07T19:26:19-0700; last modified: 2013-02-08T19:35:33-0800

---

Marshallers can contain Haskell expressions; however, c2hs substitutes those expressions into Haskell code as function calls and adds arguments to the end, which limits these Haskell expressions to simple function calls with one

[2013-08-01 18:51] ian-ross opened #51 "Should not define preprocessor symbols for GCC"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/51)

Trac ticket created: 2012-10-07T19:32:59-0700

---

c2hs uses GCC's preprocessor, and as a result it parses C code with GCC's default preprocessor symbols defined.  Many projects rely on those preprocessor symbols to decide whether to use GCC-specific extensions, such as `__attribute__` declarations.  Since c2hs does no

[2013-08-01 18:51] ian-ross opened #52 "Parenthesize types in bindings, to allow function types without parentheses"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/52)

Trac ticket created: 2012-10-07T20:55:27-0700; last modified: 2013-02-08T19:38:16-0800

---

c2hs allows arbitrary types in function bindings.  However, a function type such as `T1 -> T2` will cause the generated code to parse incorrectly; since c2hs does not parenthesize each argument type, the argument and return type

[2013-08-01 18:51] ian-ross opened #53 "Cabal Install failed with ghc 7.6.1"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/53)

Trac ticket created: 2012-10-09T05:33:34-0700; last modified: 2013-02-08T19:37:59-0800

---

Fail to install using ghc 7.6.1.
Two changes are needed, but I don't know if backward compatible.

Ãmeric

diff -r c2hs-0.16.3_bu/src/C2HS/Config.hs c2hs-0.16.3/src/C2HS/Config.hs
40c40
## < import Foreign.C (CInt)

[2013-08-01 18:51] ian-ross opened #54 "Allow referring to 'struct foo' identifiers from {#sizeof} {#get} and friends"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/54)

Trac ticket created: 2012-10-17T15:59:46-0700

---

C maintains separate namespaces for 'struct foo' and 'typedef ... foo', and at present c2hs only references the latter namespace.  This is annoying if a library author didn't add typedefs to allow eliding the 'struct' keyword from type definitions; we have to re-typede

[2013-08-01 18:52] ian-ross opened #55 "`strip: unable to rename 'c2hs.exe'; reason: File exists`"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/55)

Trac ticket created: 2013-04-10T11:21:44-0700

---

I'm currently trying to build c2hs (v 0.16.4) from the cabal source package from HackageDB on a Win64 system.

== TERMINAL LOG ==

PS .> cabal install
Resolving dependencies...
Configuring c2hs-0.16.4...
Preprocessing executables for c2hs-0.16.4...
Building c2hs-0.16.4

[2013-08-01 18:52] ian-ross opened #56 "c2hs fails to build"
Bug imported from [C2HS Trac](http://hackage.haskell.org/trac/c2hs/ticket/56)

Trac ticket created: 2013-06-25T13:04:32-0700

---

Mac OSX 10.7.5
haskell-platform 2013.2.0.0 from homebrew.

c2hs depends on language-c <0.4
and language-c <0.4.2 fails to build against alex >3.\* and alex 3.0.5 is included in haskell-platform. So I can't build a language-c which c2hs accepts with the alex version inc

[2013-08-10 13:37] #56 closed, assigned to nobody

[2013-08-10 13:47] #53 closed, assigned to nobody

[2013-08-10 13:47] #52 closed, assigned to nobody

[2013-08-10 13:48] #50 closed, assigned to nobody

[2013-08-10 13:48] #49 closed, assigned to nobody

[2013-08-10 13:53] #42 closed, assigned to nobody

[2013-08-10 13:55] #39 closed, assigned to nobody

[2013-08-10 13:58] #33 closed, assigned to nobody

[2013-08-10 13:59] #34 closed, assigned to nobody

[2013-08-10 14:05] #28 closed, assigned to nobody

[2013-08-10 14:09] #26 closed, assigned to nobody

[2013-08-10 14:13] #18 closed, assigned to nobody

[2013-08-10 14:15] #17 closed, assigned to nobody

[2013-08-10 14:16] #14 closed, assigned to nobody

[2013-08-10 14:18] #11 closed, assigned to nobody

[2013-08-10 14:20] #6 closed, assigned to nobody

[2013-08-10 14:20] #5 closed, assigned to nobody

[2013-08-10 14:21] #4 closed, assigned to nobody

[2013-08-10 14:21] #3 closed, assigned to nobody

[2013-08-10 14:22] #1 closed, assigned to nobody

[2013-08-12 08:48] #40 closed, assigned to nobody

[2013-08-13 08:40] #35 closed, assigned to nobody

[2013-08-18 16:08] #13 closed, assigned to nobody

[2013-08-18 16:11] #12 closed, assigned to nobody

[2013-08-19 10:23] #8 closed, assigned to nobody

[2013-08-19 10:32] #2 closed, assigned to nobody

[2013-08-26 19:18] #47 closed, assigned to nobody

[2013-08-27 17:13] #30 closed, assigned to nobody

[2013-09-04 14:18] #22 closed, assigned to nobody

[2013-09-04 14:30] #21 closed, assigned to nobody

[2013-09-07 17:09] #45 closed, assigned to nobody

[2013-09-12 10:32] #44 closed, assigned to nobody

[2013-09-14 09:00] #43 closed, assigned to nobody

[2013-09-24 09:02] #54 closed, assigned to nobody

[2013-10-05 15:22] #19 closed, assigned to nobody

[2013-10-07 16:45] sebeaumont opened #57 "c2hs can't process attributes with values"
for example this fails:

int getiopolicy_np(int, int) **attribute**((availability(macosx,introduced=10.5)));

(which originates in /usr/include/sys/resource.h on os x)

I guess this might break a lot of code on OS X since these were introduced.

At the moment I cannot build the accelerate-cuda package as a result...

[2013-10-07 17:08] sebeaumont opened #58 "c2hs cant grok latest OSX headers (attributes with values)"
for example:

int setiopolicy_np(int, int, int) **attribute**((availability(macosx,introduced=10.5)));

which comes from /usr/include/sys/resource.h

Seems the problem is with parsing the '='
Is c2hs tracking the c standards?

[2013-10-07 17:09] #58 closed, assigned to nobody

[2013-10-07 17:15] #57 closed, assigned to nobody

[2013-10-18 17:01] #51 closed, assigned to nobody

[2013-11-30 17:36] facundominguez opened #60 "c2hs rejects mingw32's stdlib.h"
Haskell-platform 2013.2.0.0 Windows i386. Current HEAD of master of c2hs.
The following error occurs with current HEAD of master but not with 0.16.5.

[code]

The offending lines in stdlib.h are

[code]

[2013-12-09 18:30] #60 closed, assigned to nobody

[2013-12-10 13:32] #16 closed, assigned to nobody

[2013-12-10 16:36] #32 closed, assigned to nobody

[2014-01-01 22:39] mruegenberg opened #62 "Support Haddock for function arguments"
Often, the argument names in C headers serve as partial documentation.

Since Haskell function types lack names for arguments, it would be helpful if Haddocks in `#fun` definitions were put into the generated Haskell code.

---

An example C function:

[code]

with the corresponding `.chs`:

[code]

This should generate code like this:

[code]

However, the current version of C2Hs (0.16.5 in my ca

[2014-01-07 16:10] #41 closed, assigned to nobody

[2014-01-13 05:57] #7 closed, assigned to nobody

[2014-01-13 06:20] #29 closed, assigned to nobody

[2014-01-14 19:41] sergv opened #63 "Mention "alignof" hook in the wiki"
Having searched for this feature for quite some time I think it would be useful to mention `alignof` and any other hooks missing in the manual, to save user time searching for features that are already there.

[2014-01-18 15:30] #37 closed, assigned to nobody

[2014-02-06 21:17] #31 closed, assigned to nobody

[2014-02-07 09:23] #63 closed, assigned to nobody

[2014-02-10 05:57] #24 closed, assigned to nobody

[2014-02-13 10:39] #38 closed, assigned to nobody

[2014-02-13 13:02] kvanbere opened #64 "Fails to build with GHC 7.8"
Depends on language-c which uses primops which have changed between 7.6 and 7.8.

[code]

[2014-02-14 07:58] #64 closed, assigned to nobody

[2014-02-18 16:37] #23 closed, assigned to nobody

[2014-02-24 21:34] nh2 opened #65 "How to use macro constants"
I simply want to use a macro constant defined like

[code]

in a `.chs` file, like

[code]

How do I do this?

It would be nice if that was part of the documentation; it explains all kind of complicated things like `enum define` etc, but I can't figure this simple one out.

[2014-03-13 10:20] peti opened #67 "Invalid dependency spec for shelly"
The cabal file says this package depends on `shelly >= 0.15.4.1 && < 1.0`, but as far as I can tell no such version of shelly exists.

[2014-03-17 14:04] wdanilo opened #69 "c2hs-0.16.6 breaks cuda"
Hi!
c2hs-0.16.6 prevents "cuda" package from install. When trying to install cuda, we got error:

[code]

Downgrading c2hs to 0.16.5 solves the issue.

[2014-03-23 20:45] AaronFriel opened #70 "Support for "nocode" on enum declaration"
It would be very nice if c2hs supported a "nocode" version for enum, to support cases where the data declaration is not easily colocated with the enum instance, or they must be declared manually. One such use case: associated data types in data families. I imagine it would act as an additional `alias` rule that causes the data declaration not to be emitted, only instances. Example of how I imagine

[2014-03-27 15:27] albertov opened #71 "Regression in 0.16.6"
Latest c2hs 0.16.6 generates code which refers to an unknown symbol:

[code]

The same code compiled fine with 0.16.5.

With 0.16.6: https://travis-ci.org/meteogrid/bindings-gdal/jobs/21678390
With 0.16.5: https://travis-ci.org/meteogrid/bindings-gdal/jobs/21681208

[2014-03-28 05:56] ian-ross opened #72 "Regression suite"
C2HS needs a regression suite: a set of packages that depend on C2HS that can be used for testing that things that used to work still do.  There have been a couple of instances lately where changes have broken previously working packages, bu tthe wide variety of combinations of Haskell packages and C libraries out there means that it's hard to cover all the possibilities in a "standard" test suite

[2014-04-01 10:08] #69 closed, assigned to ian-ross

[2014-04-01 11:32] #67 closed, assigned to ian-ross

[2014-04-04 08:17] EJahren opened #73 "Default out-marshall ForeignPtr"
It should be possible to give a FinalizerPtr to
a ForeignPtr hook so that it can be automatically
out-marshalled with

[code]

[2014-04-11 10:28] #71 closed, assigned to ian-ross

[2014-04-12 17:12] ian-ross opened #74 "Regression in gnome-keyring"
The C2HS code

[code]

should produce the following:

[code]

but now produces this:

[code]

which is wrong and doesn't compile.

[2014-04-13 11:35] ian-ross opened #75 "Regression in hsndfile"
In versions 0.16.6 and 0.17.1, this line in `sndfile.h`:

[code]

causes an internal error in C2HS:

[code]

[2014-04-13 21:54] EJahren opened #76 "Output `()' does not mean unused out parameter"
I believe this issue stems from line 930 in C2HS.Gen.Bind. It seems that
as of version 0.17.1, if output of a fun hook is '()', it will assume that the
output is unused, even if there is a outmarshaller defined. The use of
outmarshallers when the output is `()' is not uncommon as it might be
necessary to check errorcodes:

[code]

for

[code]

[2014-04-14 11:49] #76 closed, assigned to nobody

[2014-04-14 11:49] #74 closed, assigned to ian-ross

[2014-04-14 22:18] dcoutts opened #77 "Unclear how to use --no-gnu and --no-blocks with Cabal"
At least one author has found that they need to specify one of these flags to get their stuff to work on OSX. This throws up the issue of how that integrates with Cabal.

I'm not totally clear on when these flags are needed:
- Are these flags something that should always be set by Cabal based on the platform we're building on? If so, should they just be the c2hs defaults, or is it something Cabal

[2014-04-16 14:42] merijn opened #78 "c2hs produces crashing Enum instances for any non-contiguous enum"
The enum instances generated by c2hs only define "toEnum :: Enum a => Int -> a" and "fromEnum :: Enum a => a -> Int", relying on the built-in definitions of succ, pred and enumFromTo, however all these built-in functions assume that an Enum matches a contiguous range of Int.

C enums on the other hand don't have this requirement. As a result the generated instance will crash for the Enum instances

[2014-04-18 11:31] wdanilo opened #79 "c2hs-0.17.1 breaks accelerate-cuda"
Hello!
c2hs-0.17.1 does not allow for installing `cuda` package. It is working well with c2hs-0.16.5 (it is not working with 0.16.6 with other error (https://github.com/haskell/c2hs/issues/69).

The error is:

[code]

[2014-04-18 17:14] #75 closed, assigned to ian-ross

[2014-04-18 18:01] #72 closed, assigned to ian-ross

[2014-04-19 10:57] #79 closed, assigned to nobody

[2014-04-19 11:30] merijn opened #80 "c2hs crashes for indented CPP directives"
c2hs will barf on the following source:

[code]

However, it will accept the following just fine:

[code]

[2014-04-20 13:19] #80 closed, assigned to nobody

[2014-05-03 14:44] EJahren opened #81 "Test suite uses c2hs found by the os."
Currently the tests/system/cpp test is failing, looks like the lexer doesn't handle cpp directives correctly if directly after a comment.

Edit:
turns out I was using c2hs from .cabal (which I had modified) and not the one in dist.
Should the tests be changed to prevent this?

[2014-05-06 21:37] ozgurakgun opened #82 "#include "string.h" on mac"
`#include "string.h"` on my system gives the following error:

[code]

I am on Mac OS X Mavericks.

The relevant line in string.h on this machine is the following:

[code]

I am not sure what `__IPHONE_4_3` expands to, but I can investigate if you think it can be helpful.

Thanks!

[2014-05-28 16:00] abbradar opened #83 "CString, Ptr a and CInt bindings (possibly others) are missing"
I've found no mention in documentation about this, so I assume that this is a bug. For example:
[code]
Produces the following error:
[code]
And if I switch CInt to Int, then:
[code]
I can use 'id' as a marshaller, but in my opinion, this is a workaround and C-types should work out of the box.

[2014-05-31 11:49] #81 closed, assigned to nobody

[2014-05-31 14:57] #77 closed, assigned to nobody

[2014-06-03 05:55] mietek opened #85 "c2hs chokes on OS X availability macros"
Symptoms:

[code]

The culprit here is the `__OSX_AVAILABLE_STARTING` macro, defined in [Availability.h](https://gist.github.com/mietek/9a73f7675b8c408a47ae#file-availability-h), which in turn includes [AvailabilityInternal.h](https://gist.github.com/mietek/9a73f7675b8c408a47ae#file-availabilityinternal-h).

One workaround is to define the following empty macros prior to including any OS X headers

[2014-06-03 06:14] mietek opened #86 "c2hs does not accept options after filenames"
The Cabal `--c2hs-option` option has been ineffective for a long time (https://github.com/haskell/cabal/issues/853), because `c2hs` does not accept options passed after filenames on the command line:

[code]

This is how Cabal attempts to invoke `c2hs`:

[code]

[2014-06-05 09:10] #86 closed, assigned to nobody

[2014-06-08 15:13] garetxe opened #87 "Prelude.read: no parse"
When trying to use c2hs 0.17.2 together with language-c 0.4.5 I get an error "Prelude.read: no parse".

This boils down to a change in representation of Ident in language-c, seems like, so the Read instance for Ident in `src/C2HS/Gen/Monad.hs` fails to work. The new Ident looks like the following

[code]

The following Read instance fixes the issue for me:

[code]

[2014-07-09 19:15] mikesteele81 opened #88 "Support calling convention attributes in function pointer declarations"
Right now c2hs supports parsing attributes of C functions to look for calling convention designations. See issue #17 for details on that feature being added. I'd like this to be extended to C function pointer declarations so that c2hs can help me bind to COM on Windows.

Am I on the right track with the partial solution given below? So far I haven't discovered how to reach into the parentheses to

[2014-07-09 21:09] RyanGlScott opened #89 "Enable #get and #set of Storable structs"
Getting and setting nested structs with `c2hs` is currently quite annoying. As an example from the [BlueZ](http://www.bluez.org/) header files:

[code]

I need to be able to call `sdp_set_service_id` from Haskell, but to do so, I need a Haskell ADT corresponding to `uuid_t` that is an instance of `Storable`. Here is what I would naturally think of doing:

[code]

and the corresponding `Storable` i

[2014-07-09 21:52] #89 closed, assigned to nobody

[2014-07-28 16:17] RyanGlScott opened #93 "Can't use with* as an input marshaller"
I'm trying to make a function hook that marshals a `Storable` instance as input. To that end, I want to use the [`with`](http://hackage.haskell.org/package/base-4.7.0.1/docs/Foreign-Marshal-Utils.html#v:with) function (which, according to the [`c2hs` docs](https://github.com/haskell/c2hs/wiki/Implementation-of-Haskell-Binding-Modules#function-hooks), is a default marshaller). I'm using the followi

[2014-07-29 20:18] RyanGlScott opened #95 "#sizeof fails on non-typedef'd structs"
I am trying to call `#sizeof` on a struct not created with `typedef` (which is surprisingly common, e.g., [`sockaddr_rc`](http://git.kernel.org/cgit/bluetooth/bluez.git/tree/lib/rfcomm.h#n40) from the BlueZ library). Here is a simple example:

[code]

[code]

Running `c2hs Struct.chs` will fail with the error message:

[code]

A simple workaround is to manually `typedef` it elsewhere (e.g., `typed

[2014-07-29 20:44] RyanGlScott opened #96 "#get and #set don't accept newtyped pointers"
Trying to use `#pointer`'s `newtype` feature with `#get` and `#set` is inconvenient at the moment. For example,

[code]

`c2hs` will translate this to:

[code]

This is a problem, since `peekByteOff` and `pokeByteOff` both expect an argument of type `Ptr a`, which `FooPtr` is not. In order to fix this, you'd have to manually pattern-match against `FooPtr`, e.g.,

[code]

which is a bit annoying, e

[2014-08-03 17:45] #88 closed, assigned to nobody

[2014-08-03 18:05] #78 closed, assigned to nobody

[2014-08-07 16:44] RyanGlScott opened #97 "#pointer types aren't recognized across modules"
Consider a `c2hs` program with two Haskell modules. As an example:

[code]

[code]

[code]

[code]

In theory, `c2hs` should have no problem preprocessing the `fooX` definition in `Main.chs`, since `FooPtr` was created using `#pointer`. The problem is that since the `#pointer` is used in a separate module (`Foo.chs`), `c2hs` doesn't seem to recognize it when preprocessing `Main.chs`:

[code]

Curr

[2014-08-08 16:32] RyanGlScott opened #98 "No default marshallers for Char"
Currently, C's `char` types can be marshalled to and from `Integral` types via the default marshaller `fromIntegral`. Unfortunately, this makes it difficult to use Haskell's own `Char` type alongside C's, since `Char` is not an instance of `Integral`. For example,

[code]

[code]

[code]

Preprocessing this with `c2hs` reveals this:

[code]
So one must manually provide out marshallers:

[code]

Th

[2014-08-13 08:55] #62 closed, assigned to nobody

[2014-08-13 11:07] #87 closed, assigned to nobody

[2014-08-13 12:52] #93 closed, assigned to nobody

[2014-08-13 13:26] wdanilo opened #100 "c2hs does not compile under GHC-7.9"
I'm sorry, the error comes from language-c. I've sent mail to the maintainer. Please delete this issue.

[2014-08-13 14:02] #100 closed, assigned to nobody

[2014-08-19 19:16] RyanGlScott opened #102 "Relax variadic function restrictions"
While the Haskell FFI cannot create a foreign declaration to a variadic function that will accept an arbitrary number of arguments, it is possible to create a foreign declaration with a fixed number of arguments. For example, the C function `int ioctl(int d, int request, ...)` can used in Haskell by forcing to have a specific type signature:

[code]

However, one cannot do this with `c2hs`, as it

[2014-08-20 21:37] abbradar opened #103 "Enum (and enum define) auto-generated marshallers do not persist across modules"
If I use use #enum hooks like this:

[code]

This works as expected. If, though, I move #fun hook into separate module and use #import, then I get an error about unknown default marshaller. I suspect that this needs a change in interface files format.

[2014-08-29 14:08] #95 closed, assigned to nobody

[2014-08-31 14:37] #96 closed, assigned to nobody

[2014-09-06 01:51] jmillikin opened #106 ""regression-suite" executable causes install to have huge dependency list"
c2hs 0.18.1 changed "regression-suite" from a test-suite to an executable in c2hs.cabal. This causes cabal-install to install the entire dependency tree of the regression suite even if the user only wants the c2hs binary.

"regression-suite" should either be reverted to being a test, or be set to buildable:false by default and enabled by a flag.

[2014-09-06 12:54] ian-ross opened #107 "Need better way to handle breaking changes"
The fix for #96 means that version 0.18.1 is incompatible with earlier versions (as noted by @jmillikin).  There needs to be some method either to check the C2HS version (probably a CPP macro) or to disable the change.  I'll probably try to add a `C2HS_VERSION` CPP symbol to deal with this.

[2014-09-12 07:42] snoyberg opened #108 "Test suite fails from Hackage"
I get a number of errors along the lines of:

not a directory: /tmp/c2hs-0.18.1-20237/c2hs-0.18.1/tests/bugs/issue-80
  Issue #80: [Failed]
ERROR:
Ran commands:
cd /tmp/c2hs-0.18.1-20237/c2hs-0.18.1/tests/bugs/issue-80
echo 'not a directory: /tmp/c2hs-0.18.1-20237/c2hs-0.18.1/tests/bugs/issue-80'
exit 1

Exception: ExitFailure 1
not a directory: /tmp/c2hs-0.18.1-20237/c2hs-0.18.1/tests/bugs/issue-

[2014-09-12 11:27] #108 closed, assigned to nobody

[2014-09-12 12:23] #106 closed, assigned to ian-ross

[2014-09-12 15:04] #107 closed, assigned to ian-ross

[2014-09-22 15:38] tmcdonell opened #111 "cuda package build failure with 1.18"
tmcdonell/cuda#18

Upgrading from c2hs-1.17.2 to c2hs-1.18.2, I now get this error on Mac OS X:

[code]

From submitted issue, on linux (flavour unknown at this time):

[code]

I'm not sure where the `C2HS_MIN_VERSION` macro is being introduced, so not sure how to diagnose this.

[2014-09-24 18:19] #82 closed, assigned to nobody

[2014-10-01 19:06] dmwit opened #113 "parser for {#enum#} renamings is too strict"
Here is a minimal test case showing the problem. Two files are needed, `enum.h` looks like this:

[code]

and `Enum.chs` looks like this:

[code]

It seems the parser for the alias list `{0 as Zero}` doesn't like C identifiers that start with numbers:

[code]

It's probably true that C identifiers really aren't allowed to start with numbers, but the real C identifier here doesn't start with a numb

[2014-10-27 14:40] Fuco1 opened #114 "offsetof seems to be unusable"
Anywhere I try to use it, it gives me an error

[code]

The code in question

[code]

I believe it gives a pure value so the context doesn't matter (e.g. only using it inside IO or so)

Right now, I use a value I got from using `offsetof` in a little test C program, but that's obviously not ideal as it is unportable.

[2014-10-30 10:13] #73 closed, assigned to nobody

[2014-10-31 21:28] ian-ross opened #115 "Segmentation fault when accesing array inside struct"
See PR #112

[2014-11-02 16:27] #85 closed, assigned to nobody

[2014-11-04 17:42] #70 closed, assigned to nobody

[2014-11-12 17:28] #103 closed, assigned to nobody

[2014-11-13 02:21] #97 closed, assigned to nobody

[2014-11-13 17:56] #65 closed, assigned to nobody

[2014-11-17 21:31] #55 closed, assigned to nobody

[2014-11-18 22:43] #113 closed, assigned to nobody

[2014-11-24 00:29] giogadi opened #116 "Currently can't "leave out" items of an enum"
C developers often add extra values at the end of an enum for various reasons (e.g., to denote the number of possible values the enum can take) that may not be useful in a Haskell interface.

Would it be possible to extend the enum hook to allow for leaving out elements of a C enum?

[2014-12-04 09:04] #111 closed, assigned to nobody

[2014-12-07 14:05] #115 closed, assigned to nobody

[2014-12-07 15:22] #116 closed, assigned to nobody

[2014-12-20 15:33] #114 closed, assigned to nobody

[2015-01-02 15:37] ian-ross commented on #46
I've implemented this pretty much as outlined above.  It works for a simple test case, but there's a strong chance that it will be possible to break things by some combination of the new "+" parameters and other C2HS features.  I'll close the issue for now anyway.

[2015-01-02 15:37] #46 closed

[2015-01-02 16:45] ian-ross commented on #36
This is now implemented in HEAD, although the syntax is a little different from what was proposed.  Specifically, you need to write

[code]

to use parametrized types on the right hand side of the arrow in pointer hooks.  (This is because the parser for what can appear inside C2HS hooks doesn't include a full Haskell parser, so you need to mark verbatim Haskell code with a backquote-forward quote

[2015-01-02 16:45] #36 closed

[2015-01-17 23:15] ian-ross commented on #9
I believe this is now fixed, at least for non-bit-field cases..

[2015-01-17 23:15] #9 closed

[2015-01-18 20:41] #98 closed

[2015-01-24 13:40] ian-ross commented on #102
@RyanGlScott I've done something for this, although it's a little restricted.  You can now do this:

[code]

You need to mark the `fun` hook as `variadic` and you need to write the C types of the extra `va_args` parameters you're going to pass in parentheses after the C function name.

It's not pretty, and at the moment you can only use simple C types as the additional parameters.  If you want mor

[2015-01-24 19:14] RyanGlScott commented on #102
Awesome, thanks! Could you update [this wiki article](https://github.com/haskell/c2hs/wiki/Implementation-of-Haskell-Binding-Modules) to include the changes to the grammar? It's not clear to me how `variadic` interacts with `unsafe`, `pure`, and other keywords.

Also, I assume that "simple C types" does not encompass pointers? If so, then I can't use `ioctl` (my motivation for submitting this bug)

[2015-01-24 19:16] RyanGlScott commented on #98
Thank you for fixing this—this should save me from typing out quite a bit of boilerplate!

By the way, can you update [this wiki article](https://github.com/haskell/c2hs/wiki/Implementation-of-Haskell-Binding-Modules#function-hooks) to reflect that `Char` has new default marshallers?

[2015-01-24 19:51] RyanGlScott opened #117 "Wrap functions that require non-pointer struct arguments"
The Haskell FFI cannot handle pure struct arguments in foreign declarations, only struct pointers. Unfortunately, I deal with several libraries with functions that expect pure structs as arguments. As a simplified example:

[code]

There isn't any way for Haskell to call this directly. Instead, I'd first have to create another C file with a function that wraps `coord_x`:

[code]

This gets to be p

[2015-01-25 08:30] ian-ross commented on #102
@RyanGlScott That's right about "simple types" not yet covering pointers.  Consider this an experimental feature for the moment.  I did a slightly shoddy job for the first implementation as I'm still figuring out what the best way to deal with this is in the more general case.

The problem is that you need to know the C types for the `va_args` arguments you're going to pass, and that information i

[2015-01-25 08:43] ian-ross commented on #117
This should be doable.  I've put it on the list for release 0.24.1 (0.22.1 is today, 0.23.1 is probably in the next couple of weeks, so 0.24.1 should be in a month or so).

[2015-01-29 15:26] ocramz opened #118 "build doesn't typecheck"
Install command:
cabal install haskell-mpi --extra-lib-dirs=/opt/openmpi-1.5.3/lib/ --extra-include-dirs=/opt/openmpi-1.5.3/include/

[1 of 6] Compiling C2HS             ( src/C2HS.hs, dist/dist-sandbox-63b7207b/build/C2HS.o )

src/C2HS.hs:165:31:
    Could not deduce (Num b) arising from the literal `0'
    from the context (Enum a, Bits b)
      bound by the type signature for
                 c

[2015-01-29 16:39] ian-ross commented on #118
@ocramz Not sure I would call this a C2HS bug.  The `haskell-mpi` package hasn't been updated since 2012 -- since then, C2HS has changed considerably: in particular, the `C2HS.hs` file is no longer used at all, and the syntax for function hook definitions has changed so that much of the usage in this package is not valid with recent versions of C2HS (in particular a lot of the stuff in `Control.Pa

[2015-01-30 08:57] ocramz commented on #118
Hi Ian, @ian-ross , thank you for the quick reply.
I have already tried with combinations of vintage c2hs/haskell-mpi, to no avail.
I haven't had any experience in FFI bindings yet, but perhaps if you instructed me on what to change and why, I might try my hand..
In the meanwhile; yes, I do mean to use this package, since my uni has a big fat compute cluster and it would be a shame to let it idle.

[2015-01-30 10:40] ian-ross commented on #118
@ocramz OK, I'll make the necessary changes some time in the next week.  It's probably one 1-2 hours of work and if you've not done much FFI stuff before, it will be quicker if I do it.  I'll let you know when it's working and you can give it a go before I send a PR to the maintainer of `haskell-mpi`.

[2015-01-31 07:15] ian-ross commented on #118
@ocramz Try this (obviously change the OpenMPI paths for whatever you have set up; you might need an include file path as well):

[code]

The changes for the latest C2HS are on the `latest-c2hs` branch of my `haskell-mpi` repo.  The `testrunner` stuff is needed because `haskell-mpi` uses an old test management package for running its test suite and there have been some changes in QuickCheck since

[2015-02-02 17:35] ocramz commented on #118
Hi Ian, thanks a lot for this work; however installation fails at the `cabal configure` step, with a
Configuring haskell-mpi-1.3.0...
cabal: The program 'c2hs' is required but it could not be found.

[2015-02-02 18:45] ian-ross commented on #118
Ah sorry, I assumed you already had C2HS installed.  You need to have C2HS somewhere on your path: Cabal doesn't manage build tools dependencies in the way that it manages package dependencies.  Just to `cabal install c2hs` outside a sandbox and make sure you have `~/.cabal/bin` on your path.

[2015-02-02 19:03] ocramz commented on #118
Installed c2hs globally, everything works now. However `mpirun` complains as follows:

$ mpirun -np 2 ./dist/build/haskell-mpi-testsuite/haskell-mpi-testsuite
Need at least two processes to run the tests.
Typical command line could look like this:
'mpirun -np 2 bindings-mpi-testsuite 1>sender.log 2>receiver.log'

Need at least two processes to run the tests.
Typical command line could look like th

[2015-02-02 19:07] ian-ross commented on #118
That's odd.  Is your MPI installation OK?  I.e. does it work with a simple C test program?

[2015-02-02 19:26] ocramz commented on #118
Yes, I've just tested it with this: http://techtinkering.com/2009/12/02/setting-up-a-beowulf-cluster-using-open-mpi-on-linux/ , processes send wait and receive as they should. What could the problem be?

[2015-02-02 19:41] ian-ross commented on #118
I really don't know what could be going on there.  At that point, all the test program has done is call `MPI_Init` and call the Haskell equivalent of `MPI_Comm_size` on the world communicator.  I don't know if the initialisation is failing and so you're getting something funny back as the communicator size.

What sort of system are you using?  Is it Linux?  Just a desktop machine (i.e. no funny cl

[2015-02-02 19:56] ocramz commented on #118
I'm actually using a Torque/PBS cluster running CentOS. I already tried sending the `mpirun` command from within a PBS batch job, but the error message is the same ("Need at least two processes to run the tests")

[2015-02-02 20:13] ian-ross commented on #118
OK, can you try doing it just on your desktop machine or some other single-node machine first, just to make sure that you're getting a good build of the `haskell-mpi` package and it's able to at least initialise the version of OpenMPI you're using?  Getting it working on a real cluster is a (quite big!) second step.

[2015-02-02 20:23] ocramz commented on #118
It will take me some time, as I don't have a local MPI installation. In the meanwhile, I've just noticed that the error message mentions `bindings-mpi-testsuite`, whereas the binary we're calling is `haskell-mpi-testsuite`. Any relation?

[2015-02-02 20:32] ian-ross commented on #118
I think that's just a typo in the message.  I don't have access to a cluster for testing right now, though I should do some time in the next couple of months.  It's obviously a bit difficult to guess what might be going wrong since there are so many variables.  I can't quite believe that the MPI initialization is failing completely without throwing an error.  Something a bit weird is going on.

[2015-02-03 12:01] bjpop commented on #118
Hi ian-ross and ocramz. Thanks for looking into the build issues with haskell-mpi.
It appears as though some bit rotting has occurred.
I'll have a look at it myself and see if I can get it working again. I will happily accept pull requests if you make any improvements. Cheers!

[2015-02-03 12:04] ian-ross commented on #118
@bjpop I'll send you a PR today or tomorrow -- I got it building and working with recent dependencies without too much trouble, at least on my desktop machine.

[2015-02-03 20:47] gitfoxi commented on #118
I'm seeing this with the file `C2HS.hs` installed by `c2hs -l`. First there's a problem where it tries to `import Monad (liftM)` like it's 1995. After fixing that I get the type-checking errors as above. I will check out the latest branch as suggested by @ian-ross.

[2015-02-03 21:12] phaazon opened #119 "Lexical error on #line pragma"
Hi,

I tried to install `cuda`, and I got [that issue from `c2hs`](http://lpaste.net/119875). I have no idea how to fix that :(

[2015-02-04 05:52] ian-ross commented on #118
@gitfoxi This package is based on an obsolete version of C2HS that does not work with recent GHC versions.  I'm going to send @bjpop a PR today to allow `haskell-mpi` to build with recent GHC and C2HS.

[2015-02-04 05:54] ian-ross commented on #119
@phaazon Could you tell me what version of C2HS you have installed?  I made some changes related to `#line` pragmas a little while ago, so I just want to be sure that this problem is still there in the current version of C2HS.

[2015-02-04 07:34] phaazon commented on #119
Sure:

[code]

[2015-02-04 08:02] ian-ross commented on #119
Can you go to the `Foreign/CUDA` directory within the `cuda` package and run the following, replacing `/opt/cuda/include` with the path to the `include` directory in your CUDA installation:

[code]

(I guess you'll have to say `c2hs.exe` if you're on Windows.)

I'm guessing that this is something to do with differences between the C preprocessor under Linux and MinGW on Windows.  I don't have a Wi

[2015-02-04 08:11] phaazon commented on #119
[code]

[2015-02-04 08:12] phaazon commented on #119
I read in the `cuda` package that `c2hs` got passed the NVIDIA compiler, which basically simply adds a preprocessor. Running your command with it generates the following error:

[code]

[2015-02-04 10:38] ian-ross commented on #119
Let me have a proper look (probably on Friday or Saturday).  We fixed one problem with using nvcc via c2hs recently, but I think that was something a bit different.

[2015-02-04 14:26] gitfoxi commented on #118
I see:

So what should be used, generally for new projects?

[2015-02-04 14:30] ian-ross commented on #118
The idea is that you shouldn't need that module because the functions it contained are either in the standard FFI modules (`Foreign.C.Types`, `Foreign.Ptr`, etc.) or they're baked into C2HS as default argument marshallers.  So, what you'll have instead of `import C2HS` is just a few imports for Haskell standard library FFI modules.

[2015-02-04 18:30] gitfoxi opened #120 "Partial toEnum function"
c2hs makes this for me:

    toEnum unmatched = error ("McdResult.toEnum: Cannot match " ++ show unmatched)

I think it would be good to avoid `error` by defining some catch-all code. it could be like

    toEnum unmatched = MyCatchAll unmatched

Also looks like `pred` and `succ` can fall off the rails. Is there a safer way to define these?

[2015-02-05 13:24] ian-ross commented on #120
@gitfoxi This behaviour is the behaviour required of bounded `Enum` instances by the Haskell Report.  From Section 6.3.4 of the Haskell 2010 Report:

----------

For any type that is an instance of class `Bounded` as well as `Enum`, the following should hold:

 * The calls `succ maxBound` and `pred minBound` should result in a runtime error.
 * `fromEnum` and `toEnum` should give a runtime error i

[2015-02-05 14:59] ian-ross commented on #118
I'm going to close this as I think I've fixed the C2HS side of things -- why the `haskell-mpi` test suite doesn't seem to run for @ocramz isn't really a C2HS issue, I'd say.  I've sent a PR to @bjpop to update `haskell-mpi` to build with the latest C2HS.

[2015-02-05 14:59] #118 closed

[2015-02-05 15:00] #120 closed

[2015-02-05 16:27] ocramz commented on #118
Thank you Ian!

[2015-02-06 15:02] ian-ross commented on #102
@RyanGlScott OK, I've done something for this.  I think it's a pretty good solution, but you should have a look and tell me what you think.  The test case for issue #102 shows how to use this, including some playing with `fcntl` that should be relatively similar to what you want to do with `ioctl`.  You can use more or less any C type in the variadic function definitions now (so long as the types

[2015-02-06 15:02] #102 closed

[2015-02-06 17:41] RyanGlScott commented on #83
Just to verify, was there any change made in the default marshallers for `void *`? This code won't compile for me with the latest version of `c2hs`:

[code]
[code]
[code]
Failing with the error:

[code]

Writing ```{#fun pure cons as cons { `Ptr ()', `ListPtr' } -> `ListPtr' #}``` doesn't work either.

[2015-02-06 17:41] RyanGlScott commented on #102
This is seriously cool, thanks! I can now do all the crazy `printf`ing and `ioctl`ing that I want using `c2hs`. (Well, *almost* all of the `ioctl`ing, since I can't use `Ptr ()` as an argument, but that's due to a [separate issue](https://github.com/haskell/c2hs/issues/83#issuecomment-73280009).)

[2015-02-06 17:47] ian-ross commented on #83
@RyanGlScott Derp.  Forgot to do the `void *` stuff.  I'll try to get to it this week.

[2015-02-06 17:48] ian-ross commented on #102
@RyanGlScott Yeah, I'll fix that other thing.  It just fell through the gaps.  If you can think of anything else to do on this variadic stuff, I'd be interested to hear.

[2015-02-07 13:58] ian-ross commented on #83
@RyanGlScott OK, `void *` pointers ought to work now -- take a look at the test case for #83, which now does some very non-Haskell-ish `malloc`ing and `strcpy`ing...

[2015-02-07 13:58] #83 closed

[2015-02-07 18:13] RyanGlScott commented on #83
Much appreciated!

[2015-02-08 04:04] bjpop commented on #118
Sorry to re-open.

Thanks Ian for your work.

I've pulled Ian's changes and merged with the master branch of haskell-mpi. I've bumped the minor version number of the package.

All but one test case succeed on my machine. I'll look into the failed test later.

I can't upload the latest version to hackage because I'm not on the list of official maintainers there. I've asked to be added to that list.

[2015-02-08 06:56] ian-ross commented on #118
@bjpop Great!  Thanks for dealing with this so quickly!

[2015-02-08 23:38] bjpop commented on #118
I've now uploaded the latest version to Hackage.

[2015-02-10 21:20] #15 closed

[2015-02-10 21:43] ian-ross commented on #27
I think that this is fixed in more recent C2HS releases (or at least it's better than it was).  The example package doesn't provide any trouble for C2HS (the package doesn't build completely because of other problems, but the C2HS processing works without any problem).

[2015-02-10 21:43] #27 closed

[2015-02-14 20:48] j-keck opened #121 "tests fails on 32bit linux"
failed issue-9:
[code]

The result is: "PTA:4", "AOP:16", "(32,64)", "64","OK"
Expected is: "PTA:8", "AOP:32", "(32,64)", "64", "OK"
because the size are different.

failed issue-83:
[code]
The result is: "(-1,0)", "TEST_VAL", "8415", "8415", "TESTING"
Expected is: "(-3,0)", "TEST_VAL", "8415", "8415", "TESTING"
because glibc 'strcmp' return value is "..greater than, equal to, or less than 0...".

[2015-02-17 21:07] ian-ross commented on #121
Fixed by PR #122

[2015-02-17 21:07] #121 closed

[2015-02-19 13:42] j-keck commented on #121
@ian-ross is there a release scheduled? - thanks.

[2015-02-19 13:44] ian-ross commented on #121
@j-keck Yes, some time in the next couple of days if I get the time to fix another issue over the weekend.

[2015-02-22 17:49] ian-ross commented on #20
@Rufflewind I believe the HEAD version of C2HS now has the capability to do this.  I implemented a rather general mechanism for associating C typedefs with given Haskell types (and assigning default marshallers for them, although that's not needed here).  Take a look at the test case for this issue in the repo to see how to do it.

[2015-02-22 17:49] #20 closed

[2015-02-22 17:50] ian-ross commented on #25
C2HS now has the capability to do this: it's possible to associate a C typedef with a Haskell type and to define default marshallers between them.  See the test case for this issue in the repo to see how it works.

[2015-02-22 17:50] #25 closed

[2015-02-22 17:52] ian-ross commented on #48
The HEAD version of C2HS now has the capability to deal with this: you can use a `typedef` hook to explicitly associate the C `int64_t` typedef with an appropriate Haskell type -- because the C parser that we use doesn't understand the GCC-specific storage mode attributes, it's necessary to make this association explicitly within your .chs file, but at least it's now possible.  See the test case f

[2015-02-22 17:52] #48 closed

[2015-02-26 07:02] jmillikin opened #123 "c2hs >= 0.21.1 generates incorrect code for {#set#} of array in a struct"
C struct definition:

    typedef struct {
        attr_t      attr;
        wchar_t     chars[CCHARW_MAX];
    } cchar_t;

.c2hs file contains:

    let cAttrs = undefined :: CInt
    let cChars = undefined :: CWString
    {# set cchar_t->attr #} (CCharT pBuf) cAttrs
    {# set cchar_t->chars #} (CCharT pBuf) cChars

c2hs 0.20.1 and earlier generate:

    (\(CCharT ptr) val -> do {pokeByteOff ptr

[2015-02-26 07:16] ian-ross commented on #123
@jmillikin Yes, that was definitely broken by that change, and is clearly wrong.  I'll look at it in the next couple of days.  I fear there's going to be a bit of juggling needed to get all the combinations of these different things work -- that change fixed issue #115 which is closely related, but I obviously didn't do it quite right.

[2015-02-27 20:50] phaazon opened #124 "Can’t install on windows 64 bit"
This is due to a dependency of `c2hs`:

[code]

[2015-02-27 21:16] phaazon commented on #124
Nevermind, it was due to path issues.

[2015-02-27 21:16] #124 closed

[2015-02-27 21:18] ian-ross commented on #124
For reference, I guess this is to do with https://github.com/fpco/minghc/issues/24

[2015-02-27 21:22] phaazon commented on #124
Indeed. I just deleted `alex` and `happy` because `where`ying them gave me two paths.

[2015-03-01 09:05] ian-ross commented on #123
@jmillikin I believe that I've now fixed this (or at least made it less wrong).  The generated code is different from before, but I think it's actually better.  Here's an example.  If you have the following C structure definition:

[code]

then the following C2HS code:

[code]

produces this Haskell:

[code]

Note the use of `copyArray` for dealing with the array within the structure -- I think th

[2015-03-01 09:05] #123 closed

[2015-03-01 09:32] aloiscochard commented on #117
Would be great to see this feature added! :+1: ty

[2015-03-01 09:37] ian-ross commented on #117
@aloiscochard It's actually the very next thing on my to-do list for today...

[2015-03-01 19:39] ian-ross commented on #117
@RyanGlScott @aloiscochard OK, it's taken me most of the day, but I think I have this working now.  If you have this C code in a header file:

[code]

and you have this C2HS code:

[code]

(note the `%` in the definition of the `coordX` function -- this is what triggers wrapper generation) then when you run C2HS on this, you'll get the usual Haskell code generated, but also a `blah.chs.c` file con

[2015-03-01 21:49] RyanGlScott commented on #117
That is incredibly neat! As you noted, the biggest challenge in using this is telling `cabal` where the generated `*.chs.c` files are. After failing to build the example once, I discovered where `Main.chs.c` was, so I manually added this to my project's `.cabal` file:

[code]

It works, but it's pretty ugly, and this particular directory structure only works for sandboxes, so it's not general enou

[2015-03-02 05:26] ian-ross commented on #117
@RyanGlScott Well, C2HS is a know preprocessor in Cabal, so there's support built into Cabal for managing setting up the include path to the `chs.h` files.  I guess we'd need to add support for compiling the `chs.c` files as well (or perhaps just for moving the `chs.c` to a well-know location).  I'm not sure what the best way to do it is.  I'll have a look and see if I can work it out and if not I

[2015-03-02 06:47] ian-ross commented on #117
@RyanGlScott A quick investigation reveals that this might be "tricky".  There's an outstanding C2HS ticket to support the same sort of thing for hsc2hs (https://github.com/haskell/cabal/issues/238), but it looks like it would require some medium-sized changes to the way that Cabal deals with preprocessors to make it work.  I'll see if I can hack something together this week, but don't get your ho

[2015-03-03 13:22] marceloslacerda opened #125 "Illegal type: boolean in curses.h"
When installing ncurses using cabal c2hs is called and returns an error when processing the curses.h from ncursesw:

$ cabal install --enable-benchmarks ncurses
Resolving dependencies...
Configuring ncurses-0.2.11...
Building ncurses-0.2.11...
Preprocessing library ncurses-0.2.11...
c2hs: Errors during expansion of binding hooks:

/usr/include/ncursesw/curses.h:405: (column 2) [ERROR]  >>> Illegal

[2015-03-03 13:46] ian-ross commented on #125
Hmmm.  Quite possibly something I broke recently.  I'll take a look.

[2015-03-03 14:50] aloiscochard commented on #117
that is great thanks @ian-ross !

I'll try the feature now, even with the known limitation I think it's a big win.

[2015-03-03 15:08] aloiscochard commented on #117
I got this error:
`c2hs: src/C2HS/Gen/Wrapper.hs:(66,1)-(67,32): Non-exhaustive patterns in function fixArgs`

When trying to add a custom "in" marshaller to a field that had the `%` annotation.

[2015-03-03 15:19] aloiscochard commented on #117
Actually the error message happen because I had a mismatch between my types:

`{#fun grpc_completion_queue_next as ^ {`CompletionQueue', id `CTimeSpec'} -> `CompletionQueue'#}`

instead of:
`{#fun grpc_completion_queue_next as ^ {`CompletionQueue', id `CTimeSpec'} -> `Event'#}`

When the def is:
[code]

[2015-03-03 17:09] ian-ross commented on #117
Hi @aloiscochard -- very happy to see that you're already playing with this!  I was hoping that you and @RyanGlScott would do your best to break it: it's very much an experimental feature and there are definitely going to be some problems with it.

One thing that would be really useful is if you could pull the latest version that I've just committed and do whatever you did that gave you the non-ex

[2015-03-03 19:39] aloiscochard commented on #117
Hi @ian-ross -- I just started using c2hs for the first time, also my C is very rusty and it's the first time I'm writing a C binding for haskell.

Just to warn you that I might just do it wrong!

Here is the code (the lib is https://github.com/grpc/grpc/tree/master/include/grpc):
https://github.com/aloiscochard/grpc-haskell/blob/0f5042bf2e5a45ad09dfc61bc412e6157990a7de/src/Network/GRPC.chs#L37

T

[2015-03-03 19:47] ian-ross commented on #117
@aloiscochard Thanks -- that's great, and should give me enough information to improve this (I won't say "fix this" because it might take a few iterations to make it work perfectly, but I can certainly make it better!).  I'll take a look at it tomorrow evening.

[2015-03-05 06:48] TeamCityStorm commented on #64
I have the same problem.
[code]
[code]
[code]
[code]
I'm trying build from repo: https://github.com/acowley/language-c
I use OSX 10.9.4

[2015-03-05 06:49] slon1024 commented on #64
I have the same problem.
[code]
[code]
[code]
[code]
I'm trying build from repo: https://github.com/acowley/language-c
I use OSX 10.9.4

[2015-03-05 07:11] ian-ross commented on #64
@slon1024 Not quite sure what's going on here.  The changes that Anthony made for OS X 10.9 have been incorporated into more recent versions of language-c, so you should just be able to build language-c from Hackage.  What happens if you try to build language-c-0.4.7 (the latest version)?

[2015-03-05 07:36] slon1024 commented on #64
thanks @ian-ross, `cabal install  language-c-0.4.7` works and `c2hs` also installed. Nice :+1:

[2015-03-05 16:59] RyanGlScott commented on #117
Since this will require some modifications to `Cabal` to make it work, it might be worthwhile to have a `Setup.hs` script that can detect where the `.chs.c` files are with older versions of `Cabal`. I tried looking into this recently, and to my dismay, `Cabal` doesn't seem to provide a hook that executes in between the build step (when the `.chs.c` files are created) and GHC's linker step (when yo

[2015-03-05 17:09] ian-ross commented on #117
@RyanGlScott  Yay!  You're a hero!  And yes, it is wacky, but I was thinking about doing something similar for old versions of Cabal.  And now I don't have to.  I'll try to get the Cabal changes done over the weekend and have a branch of cabal-install you can try.  I don't think it will be all that hard to do.

I'm going to reopen this, since it's not really solved until we have a seamless solutio

[2015-03-07 15:32] deech opened #126 "C2HS parse error on Windows 7"
Hi,
I'm running into an error getting c2hs to parse a file on Windows 7.

I originally asked on haskell-cafe with no response and I'm not sure how to proceed.

Here's the original message: https://mail.haskell.org/pipermail/haskell-cafe/2015-March/118474.html

Thanks!

[2015-03-07 15:44] ian-ross commented on #125
@marceloslacerda I've just committed a change that appears to fix this.  I've also added the `ncurses` package to the Travis regression suite for C2HS so any future problems should be picked up right away.

[2015-03-07 15:44] #125 closed

[2015-03-07 16:02] ian-ross commented on #126
@deech This is almost certainly not something I'm going to be able to fix by changing C2HS.  From what you said in your email to me, this sounds more like a problem with your Cabal/GHC/GCC installation.

I guess there are really two problems here.  The first is that Cabal is choosing the "wrong" GCC and there's no obvious way to make it choose a different one (I don't even know if it makes sense t

[2015-03-07 16:06] deech commented on #126
Ah, I didn't know you were the `c2hs` maintainer or I would not have posted here. Sorry. Thanks for your earlier responses and I'll try again with MinGHC and see how I make out.

[2015-03-07 16:06] #126 closed

[2015-03-07 16:09] ian-ross commented on #126
No, no, that's fine.  If you're stuck, I'm very happy to help as far as possible.  I just don't think that this problem is going to be fixable by doing things to C2HS.  Once control gets to C2HS from Cabal, all the choices of tools are made and there's not much that C2HS can do but play along!

[2015-03-07 18:27] ian-ross commented on #119
I've written a long comment about this problem here: https://github.com/tmcdonell/cuda/issues/25 -- unfortunately, I don't think this particular problem is going to be fixed, since it's likely to involve having to  try to get C2HS to work with the Microsoft C compiler, which is not something I want to spend time on.  On that basis, I'm going to close this issue.  I'd suggest that any further discu

[2015-03-07 18:27] #119 closed

[2015-03-07 21:38] cocreature opened #127 "Not in scope: type constructor or class 'CBool'"
I have a function that returns a Bool. c2hs turns
`
{#fun wlc_init as ^ { with* `WLCInterface', withArrayLen `[String]' } -> `Bool' #}`
(ignore the withArrayLen, I still need to figure the rest out) into
`
foreign import ccall safe "WLC.chs.h wlc_init"
  wlcInit'_ :: ((WLCInterfacePtr) -> (CInt -> (IO CBool)))
`
However CBool does not exist in Foreign.C.Types. I couldn't find it via Hayoo or Hoogl

[2015-03-07 21:45] ian-ross commented on #127
Dammit.  Sorry about that.  I just introduced that today to fix another issue.  I'll fix this tomorrow.

[2015-03-07 21:50] cocreature commented on #127
Alright, thanks.

[2015-03-07 23:20] ian-ross commented on #117
@aloiscochard I've made some changes that should deal with that particular problem (basically when you try to make a wrapper for an argument that's already a pointer).  You should now get a useful error message when that happens.

See if you can break it some other way now!  I'm going to try to do the Cabal preprocessor stuff tomorrow.

[2015-03-08 08:23] #127 closed

[2015-03-08 09:02] cocreature commented on #125
reintroduced in 34b90cc

[2015-03-08 09:12] ian-ross commented on #125
@cocreature I've sent a patch to the maintainer of ncurses to fix this.  The original change I made was a mistake.  Try building ncurses from https://github.com/ian-ross/haskell-ncurses, which is a repo with the patch applied.

[2015-03-08 09:18] cocreature commented on #125
@ian-ross I actually don't use haskell-ncurses but instead want to write bindings for another C library and it fails on a bool there aswell so I thought it is the same issue (this is one of the lines it fails on https://github.com/Cloudef/wlc/blob/master/include/wlc.h#L108). Could you point me to the diff that actually fixed that problem in ncurses?

[2015-03-08 09:27] ian-ross commented on #125
@cocreature OK, I see.  The patch is attached in line at the bottom and can be applied on top of ncurses-0.2.11 (ncurses isn't on GitHub, so I can't easily point you at a diff).  The main thing was just to make sure that the shim header file used in ncurses to define some preprocessor constants for Haskell use was included everywhere before including ncurses headers.  The ncurses headers have some

[2015-03-08 09:43] cocreature commented on #125
That looks like you are just disabling stdbool use completely `#define NCURSES_ENABLE_STDBOOL_H 0` instead of making stdbool work with c2hs.

[2015-03-08 09:58] ian-ross commented on #125
That's pretty much it, yes.  C2HS has never really dealt with C `bool`.  The ncurses C library does some preprocessor stuff to make `bool` act as `unsigned char`.  It's not pretty, but it works.  I can think about adding better `bool` support to C2HS, but it's probably not going to happen before next week.

[2015-03-08 10:00] cocreature commented on #125
Fair enough, thanks for your help.

[2015-03-08 11:39] ian-ross commented on #117
@RyanGlScott @aloiscochard  I've made some changes to Cabal to deal with these extra C sources produced from C2HS.  If you clone my Cabal repo (https://github.com/ian-ross/cabal), switch to the `preprocessor-extra-sources` and follow the instructions in `HACKING.md` file to get things built, you should hopefully be able to build packages that use these C2HS wrappers via Cabal.  Have a play with it

[2015-03-08 17:13] ian-ross commented on #125
@cocreature I've been thinking about this a bit more.  It's would definitely be possible for C2HS to support marshalling of C `bool` argument and result types, but I think that it would require a layer of wrapping around the C functions -- as indicated by the absence of a `CBool` type in `Foreign.C.Types`, the Haskell FFI doesn't define any marshalling of `bool` arguments or return values.  That m

[2015-03-08 17:58] cocreature commented on #125
@ian-ross Yeah I came up with the same idea. I don't see a better way to deal with this.

[2015-03-08 18:41] ian-ross commented on #125
OK, I'll do it that way.  I don't know exactly when it will get done, but I've just added code to C2HS to generate C wrapper functions for another use, so I can add this boolean marshalling to that, and I should have a PR in for Cabal sometime in the next couple of weeks to make it transparently work with these wrappers.  It's a little messy, but it does seem like the only way to do it.

[2015-03-08 18:44] ian-ross opened #128 "C2HS doesn't marshal bool"
The C `bool` type can't be marshalled directly through the Haskell FFI, so C2HS needs to generate some sort of intermediate wrapper layer to handle this case.  For C functions with `bool` arguments, the C2HS-generated Haskell code will marshal from Haskell `Bool` to C `int` and the wrapper will then convert the argument from C `int` to C `bool` to call the function.  For C functions with `bool` re

[2015-03-10 06:20] Rufflewind commented on #20
Thanks!

[2015-03-10 06:24] ian-ross commented on #20
@Rufflewind  Let me know if you think the mechanism I implemented (the new `typedef` and `default` hooks) is any good.  I think it covers most of the cases I could imagine people wanting to do.

[2015-03-10 06:45] Rufflewind commented on #20
I think the new mechanism will work well (I couldn't think of any exceptions).  It enables the separation between the type alias that forms the API and the underlying type that may be platform-dependent.

[2015-03-14 11:17] trofi commented on #128
Got caught by the same on ncurses bindings (C library is of version ncurses-5.9):

[code]

[code]

[2015-03-14 11:28] ian-ross commented on #128
@trofi  I'm not quite sure why this has only started happening recently.  I've sent a patch to the maintainer of ncurses to try to work around it for now, but I'm planning to make C2HS marshal C `bool` arguments properly this week...

[2015-03-14 17:34] ian-ross commented on #117
I'm going to close this now -- there's a PR in to Cabal to support processing of the extra C source (https://github.com/haskell/cabal/pull/2467), so I think this is pretty much done.

[2015-03-14 17:34] #117 closed

[2015-03-15 17:33] ian-ross commented on #128
I have a partial fix for this, but I don't think it will fix the ncurses problem, @trofi.

Marshalling of `bool` function arguments and return values, using C99's `stdbool.h`, works OK.  C wrapper functions are generated in a `.chs.c` file to convert back and forth between C `bool` and C `int` (which is used to represent Haskell `Bool` values).

However, structures with `bool`s in them are a bit o

[2015-03-18 14:05] cocreature opened #129 "incorrect size calculation of structs"
I have the struct
[code]
The function pointers all have a size of 8 bytes while the int is 32 bytes. That makes 36 bytes for the output struct. c2hs calculates a complete size of 40 bytes using `{#sizeof wlc_interface #}` and an offset of 36 bytes for the `y`. However that is incorrect as the structs seem to be 8 byte aligned (that is also what `{#alignof wlc_interface #}` shows). So 4 byte paddin

[2015-03-18 16:46] ian-ross commented on #129
I'm not sure it's possible to correctly determine the size of a structure like this using what's available in the Haskell FFI (and in particular what you can get from `Storable` methods).  On a 64-bit system with 32-bit `int`, the size and alignment of pointers is 8 bytes, while the size and alignment of `int` is 4:

[code]

If I write this in C:

[code]

then on a 64-bit system using GCC, I get t

[2015-03-18 16:53] cocreature commented on #129
Allright, that's what I expected.

[2015-03-19 07:27] ian-ross commented on #117
The PR to Cabal is unlikely to be accepted because it will break all the Gtk packages.  Given the current design of the Cabal API, it's hard to see how to make any changes to the way that preprocessors are handled without breaking loads of things.  Giving up for now.

[2015-03-20 06:36] ian-ross commented on #129
I'm going to close this, but I'll keep this idea in mind.  There have been a couple of things recently where it's become clear that querying the C compiler by writing these kinds of little programs might be a better approach to finding out information that C2HS needs, so I might switch over to this approach at some point.  That would make structure sizing and offset calculations much easier.

[2015-03-20 06:36] #129 closed

[2015-03-26 15:52] kolmodin opened #130 "Incorrect wrapping of pure functions"
Here's a C function;

[code]

[code]
You could argue that it's pure, since it reads nothing but the the arguments and then stores the result in the out param.

I write this Haskell program;

[code]

I've wrapped my_add twice, once as a pure function and once in IO.
Running this function I'd expect that it'd write two lines with the number 3. Alas it does not.

[code]

Why? Let's have a look at the

[2015-03-26 16:05] ian-ross commented on #130
Ha.  Good one.  I'd dispute that `my_add` is really "pure" (whatever that actually means here!), because 1). it does the addition as a side effect, and 2). it has a return type of `void` and any pure Haskell function returning `()` doesn't need to do anything to make a `()` value.  As you say, you can force the computation using `seq`, but is that still "pure"?

Still, let me think about this, bec

[2015-03-26 18:41] kolmodin commented on #130
`my_add` is pure because;
 - it only uses its given arguments as input
 - it will always return the same result for the same arguments
 - it does not change any external state
 - it's a common convention to use out arguments so writing to *result is just returning the value, and it unconditionally writes the value there. whether it returns the value with `return` or writes it to an out param is no

[2015-03-27 09:55] ian-ross commented on #130
OK, I can see the arguments for calling this "pure".  That definitely makes sense.  However, I'm strongly resistant to changing the existing semantics of `fun` bindings in either of the ways that you propose.  C2HS is pretty widely used and it's just not practical to track down every package on Hackage or GitHub that uses it to check for breakages from a change like this.

I don't know what the or

[2015-03-28 14:53] ian-ross commented on #128
I've now written some code to deal with `bool` values in C structures.  I think that this should work on all platforms with relatively little pain, but I've had to do some slightly unpleasant things to determine the size of the C99 `_Bool` type for calculating structure member offsets.  Specifically, C2HS now compiles and runs a small C test program to do this, using the C compiler from the result

[2015-03-28 14:53] #128 closed

[2015-04-04 19:25] ian-ross opened #131 "bool wrappers for unnamed parameters don't work"
If you have a C function defined as

[code]

then creating the wrapper function for marshalling the `bool` return value will fail with an unsatisfied pattern match in `C2HS.Gen.Wrapper` because the `makeArg` function there only matches C function parameters with names.

[2015-04-06 18:59] mikesteele81 opened #132 "documentation"
Would you consider opening the wiki up to public contributions? It looks like several improvement have been made since the manual was written, and I'd like to take notes as I adapt some of my projects to use c2hs.

[2015-04-06 19:05] ian-ross commented on #132
Sure -- you should be able to edit it now.  Let me know if you have any problems (or questions!).

[2015-04-06 19:05] #132 closed

[2015-04-06 20:53] #131 closed

[2015-04-09 20:13] handerpeder opened #133 "Void field in struct"
I'm trying to compile [Enet](http://enet.bespin.org/) bindings from [HGamer3D](https://github.com/urs-of-the-backwoods/HGamer3D); a game engine of sorts in Haskell.

With 0.25.2 I get the following error

[code]

The header in question is located [here](https://github.com/urs-of-the-backwoods/HGamer3D/blob/master/Bindings/Enet/hBuild/include/ClassPtr.h).

I'm able to compile using c2hs-0.20.1 from

[2015-04-10 06:45] ian-ross commented on #133
That does indeed look like a regression, and I can imagine what changes caused it.  I'll take a look at it over the weekend.

[2015-04-11 15:00] maoe opened #134 "The identifier `flock' needs to be a C type name on OS X"
c2hs fails to process [this snippet](https://gist.github.com/maoe/8b46856aa06c3a7574ab#file-flock-chs). The trace output is attached in the same gist.

The same snippet just works fine on Linux.

* OS X Yosemite 10.10.3
* c2hs 0.22.1

[2015-04-12 16:10] ian-ross commented on #133
@handerpeder  Can you show me the C2HS code you're using?  I've experimented a little and I've not been able to reproduce this with what I could guess you might be doing.

[2015-04-12 16:41] handerpeder commented on #133
Sure.

I'm trying to compile HGamer3D (not a project I have contributed to).

The chs file is [here](https://github.com/urs-of-the-backwoods/HGamer3D/blob/master/Bindings/Enet/hBuild/HGamer3D/Bindings/Enet/ClassPtr.chs)

I'm basically just calling cabal (through scons) in the `HGamer3D/Bindings/Enet/hBuild` folder.after installing the dependencies (from Deps folder) and compiling the native part (

[2015-04-13 19:19] ian-ross commented on #134
@maoe Thanks for the report!  I'll take a look some time in the next few days.

[2015-04-16 00:55] mchakravarty commented on #130
Sorry for being slow to respond.

The `pure` keyword is really about the signature of the generated binding — i.e., the result type is not in `IO`. So, I agree with @kolmodin that this is a bug (and a scenario that I simply forgot to take into account when doing the original implementation). The right fix IMHO is Choice 1 — that is to change the foreign import. (That is what I would write manually

[2015-04-16 05:48] ian-ross commented on #130
@mchakravarty  Thanks for the guidance!  I'll try to fix this this weekend.

[2015-04-17 16:30] RyanGlScott opened #135 "Can't use CPP pragmas in enum define declarations"
I'm currently experiencing an architectural issue in a project I'm working on that involves BlueZ and `c2hs`. I'm using the `enum define` feature to create a [rather large data type](https://github.com/RyanGlScott/bluetooth/blob/68637f5bb1c614a03fa32baf5e9e6c7d96c8335f/src/Network/Bluetooth/Linux/UUID.chs#L38-107); it looks something like this:

[code]

The problem is that a particular macro const

[2015-04-17 20:10] ian-ross commented on #135
Urgh.  My immediate off-the-top-of-my-head answer is "No", but let me think about it.  The interaction between C2HS and C preprocessing is kind of nasty, so this might be hard to do in any reasonable way.

[2015-04-17 20:14] mikesteele81 commented on #135
@RyanGlScott How about conditionally defining that constant in a `#c`/`#endc` block before the `#enum define` call hook?

[2015-04-17 20:28] RyanGlScott commented on #135
I could do that, but it would lead to different runtime behavior when broadcasting UUID protocols on different versions of BlueZ (since BlueZ [maps certain macro constants to human-readable names](http://git.kernel.org/cgit/bluetooth/bluez.git/tree/lib/sdp.c?id=5f12d7a3da6869bb25154d594c5d9503b33cbe6c#n113)).

I could forgo `enum define` and define an `Enum` instance manually, but automating it wi

[2015-04-17 20:50] mikesteele81 commented on #135
@RyanGlScott

It sounds like you are trying to generate different Haskell interfaces based on the C library's version. My suggestion was the opposite of that (generate the same Haskell interface by papering over differences in the C header files). I thought I'd mention it just in case it would be helpful.

[2015-04-17 21:02] RyanGlScott commented on #135
That's definitely good advice. I hadn't considered how messy that would make the Haskell API, and it would probably be more informative to catch problems like these from Haskell code, where I could freely use CPP as I wish.

In that case, it's probably not worth pursuing this bug, especially since it sounds like it would take a substantial reengineering effort to implement.

[2015-04-17 21:02] #135 closed

[2015-04-18 10:59] kolmodin commented on #130
Thanks @mchakravarty and @ian-ross! :+1:

[2015-04-19 20:23] ian-ross commented on #130
@kolmodin I believe this is now fixed -- I used your `seq` approach.  I'm running regression tests now, but the test suite is fine, so I'm hopeful this will be OK.

[2015-04-19 20:57] ian-ross commented on #135
@RyanGlScott  Thanks for closing this one!  I think it would be bad news to try to make this work...

[2015-04-20 09:35] kolmodin commented on #130
@ian-ross Was fix (2) easier than fix (1) @mchakravarty recommended?

[2015-04-20 10:09] ian-ross commented on #130
@kolmodin It was, since I'm not sure I understand what (1) was really proposing!  (And I also forgot the details of this discussion and relied on my notes to decide how to do the fix...)  Is the intention that the `pure` keyword should solely determine the result type of the final Haskell binding, but that all `foreign import` declarations should have a result type in `IO` to force invocation of t

[2015-04-20 18:22] #133 closed

[2015-04-20 18:24] ian-ross commented on #133
@handerpeder  OK, not completely sure why this stopped working, but it should be OK in HEAD now.  It was just the special case of having a `typedef void c_something` and a {#pointer *c_something as Something#}`.  I'd never seen `typedef void ...` before -- didn't even know it was legal C!

[2015-04-21 12:27] kolmodin commented on #130
(1) was proposing to change so that all foreign imports that c2hs ever generates are IO.
Irregardless whether a `#fun` is marked as `pure` or not, it should be in IO.

Indeed, `pure` would only mean that the generated Haskell binding would be pure, not the foreign import (which Manuel pointed out are an implementation detail and should not be relied on).

[2015-04-21 20:05] ian-ross commented on #130
@kolmodin OK, that's completely clear now.  Thanks for the explanation.  I'll try making things work that way and see what happens to the packages I have in my regression suite.  If nothing breaks, this does seem like a better way to go.  If some existing packages break because of dependencies on the exact form of the foreign imports, I'll have a think about what to do.

More in a few days when I'

[2015-04-21 21:09] kolmodin commented on #130
Two things Manuel said that we could do;
 - If it's not clear already from the documentation, document that the generated foreign imports are an implementation detail and that you're not supposed to rely on them.
 - Even if none of the packages in the regression suite breaks, bump the version to indicate the API change.

[2015-04-24 15:21] ian-ross opened #136 "C2HS doesn't manage standard library imports"
C2HS makes use of a number of functions from the standard Haskell library for argument marshalling, mostly from the `Foreign...` modules.  However, it does not make any effort to ensure that the required library modules are imported in the generated Haskell code.  This means that you write your CHS file, run C2HS on it, try to compile it and find it doesn't work because of missing imports, so you

[2015-04-24 15:22] ian-ross commented on #130
@kolmodin  OK, I think this is going to work, apart from one thing.

Changing over to making all foreign imports have results in `IO` means that all C2HS pure calls need to use `unsafePerformIO`.  That's not a problem and is already used in some cases, but now it will be much more widespread, which means that code that doesn't import `unsafePerformIO` will break.  I've been meaning to fix an annoy

[2015-04-24 21:37] kolmodin commented on #130
Ah, right. Automatic imports would be really nice. Thanks for working on this!

[2015-04-29 00:04] acowley opened #138 "Block syntax again"
I've been working around variations of this for a while now,

[code]

It happens when building the `OpenCL` package from hackage. It can be avoided by editing that file to simply remove the offending character while installing the package, then putting it back so as not to break anything. Is there anything we can do to either `c2hs` or `OpenCL` to avoid this?

[2015-04-29 10:36] ian-ross commented on #138
@acowley This isn't something that's really fixable from within C2HS.  The problem is just that the C language parser in the `language-c` package doesn't know about these constructs -- it's explicitly advertised as supporting "C99 with some GNU extensions".  To deal with this properly, we'd need to switch over to using one of the other C parsing packages, probably Geoffrey Mainland's `language-c-q

[2015-04-29 13:13] acowley commented on #138
My "solution" was going to be a `sed`-like pass that would turn a block pointer type into a function pointer type, but yours is arguably more principled.

I appreciate the problem we have here, but it seems rather hopeless. I can look into how the `OpenCL` package is using `c2hs` to see if it would be easier to move it to a bespoke solution, or if some kind of hacky wrapper around `c2hs` makes mor

[2015-04-29 17:30] ian-ross commented on #138
So, were you thinking that just dealing with the blocks thing would be enough?  Are there any other significant syntactic extensions that have been introduced in the Apple compilers?  (I am almost 100% ignorant about OS X development.)  My "more principled" approach was based on the idea that there might be other extensions that we would need to deal with in the future, but if that's not the case,

[2015-04-29 18:28] acowley commented on #138
It's literally one line with a `typedef` for a block pointer that gums up the OpenCL package installation on OS X. Addressing it with a string substitution is a defensive maneuver that won't scale too far, but it's far and away the easiest thing to do in the short term.

The line is this,

    typedef void (^dispatch_block_t)(void);

My usual hand edit is to just delete the caret, but I suppose re

[2015-05-14 09:55] sinelaw opened #140 "Allow user to specify size used for malloc in "+" function param types"
Currently c2hs attempts to calculate sizes and uses them implicitly when generating code for "+" parameter directives.
Sometimes I want to specify a different size (for when the inferred size is wrong or when it's not possible to determine from the code).
One possibility is to require the argument to implement `Storable` and then use the `sizeOf` function. This approach also fixes the inconsistenc

[2015-05-14 13:56] ian-ross commented on #140
This is a good idea.  Let me think about the best way to deal with it.

[2015-05-15 11:52] ian-ross opened #141 "Error message for "incomplete types" instead of crashing"
C2HS doesn't deal very well with cases where C structure tags are defined like this (this is from PETSC):

[code]

Once C2HS has seen this, doing `{#sizeof _p_Vec#}` will return 0, doing `{#alignof _p_Vec#}` will return 1, and attempts to do `{#get _p_Vec->fieldname#}` cause C2HS to crash with an internal error.

In all of these cases (and all other appropriate ones), C2HS should produce an error

[2015-06-03 14:58] ian-ross commented on #134
@maoe Could you let me know if you still have this problem with the most recent of C2HS on Hackage (0.25.2)?  I see that rhe version you're using (0.22.1) is about six months old, and I've done some work on structure tags/type names since then.  Thanks!

[2015-06-04 11:01] maoe commented on #134
I got exactly the same error with c2hs 0.25.2 and ghc 7.10.1.

[2015-06-05 11:38] ian-ross commented on #134
@maoe OK, thanks for checking!  I'll investigate what's going on.

[2015-06-15 17:06] CThuleHansen opened #142 "Cannot create #fun of typedef functions"
I have the following typedef: ```typedef const char* fmi2GetTypesPlatformTYPE(void);```
And the following function: ```__declspec(dllexport) fmi2GetTypesPlatformTYPE fmi2GetTypesPlatform;```

I have tried ```{#fun unsafe fmi2GetTypesPlatform as ^ {} -> `String' #}``` but this gives me
fmi2Functions.chs:5: (column 14) [ERROR]  >>> Function expected!
  A function is needed here, but this declarator

[2015-06-20 11:06] #138 closed

[2015-06-20 13:43] ian-ross commented on #10
Still seems to be a problem: https://github.com/haskell/c2hs/pull/61#issuecomment-110723775

[2015-06-20 13:53] ian-ross commented on #142
@CThuleHansen Thanks for the report -- I'll take a look at this this week.  I think you're correct in saying that C2HS just doesn't support this right now.  Thinking about how the tracking of C function types works internally, I don't think it would be too hard to fix it, but I need to have a more detailed look to be sure.

[2015-06-20 16:55] CThuleHansen commented on #142
thank you very much Ian. I will link to this issue on SO

[2015-06-22 17:46] #130 closed

[2015-06-22 17:46] #136 closed

[2015-06-24 16:27] ian-ross commented on #134
OK, I've figured out why this is happening.  Not sure how to fix it yet...  It's definitely a bug.

The problem is that on OS X, `fcntl.h` defines both `struct flock` and the `flock` function in the same header file.  This is causing C2HS to get confused about what `flock` really refers to.  The problem doesn't arise on Linux because the `flock` structure is defined in a seperate header file, whic

[2015-06-25 18:04] ian-ross commented on #134
@maoe I believe this is now fixed in the GitHub HEAD version.  I've checked my Linux test case and a limited test on OS X.  I'll release a new version to Hackage in a week or two (there are some other potentially breaking changes in this version that I want to give people a chance to play with before releasing).

[2015-06-25 18:04] #134 closed

[2015-06-26 11:12] ian-ross commented on #138
@acowley OK, I've been looking at doing this "properly", and it's too much work for too little reward.  I looked at adding block syntax to `language-c`, but it would require quite a bit of messing around with the parser to make it work (there's no easy way to identify function pointer declarators from other pointer declarators the way the grammar is currently written).  If you're happy with the so

[2015-06-26 14:19] acowley commented on #138
I think you're right to be generally concerned about such a gross hack. This is currently so narrowly focused, I'm tempted to add in more logic to limit its impact. We could, for instance, only run the filter on OS X, and only do it on `typedef` lines. That would probably make me feel better in that it has less chance of messing things up for anyone else. If it crops up again on OS X, I can sort o

[2015-06-26 14:26] ian-ross commented on #138
Yeah, it's just that fixing it for real is a huge can of worms.  You basically need to add the blocks syntax to the `language-c` parser, which just isn't structured to allow that easily at the moment.  So you'd need to refactor the `language-c` grammar to do it right.  I did a very quick experiment where I just duplicated all the pointer declarations using `^` instead of `*` and that picked up blo

[2015-07-14 15:59] acowley commented on #138
Do you have any thoughts on how much to narrow the scope of this fix? On my fork, I further restricted the substitution to lines that begin with `typedef `, and all is well. We could probably also do a darwin `#ifdef`, but that might be a step too far if this syntax seeps out of the Apple ecosystem.

[2015-07-14 17:14] ian-ross commented on #138
I don't really have any strong feelings about it, to be honest.  The `typedef` idea does sound quite good though, since it will avoid issues with `(^` appearing in `#define`d strings (unlikely, but it's the only real possibility for breakage I could think of).  I wouldn't worry about making it Darwin-only.

[2015-07-27 15:25] drewr opened #145 "c2hs-0.25.2 iconv build errors from stack on OS X 10.10.3 Yosemite"
I didn't research this too extensively. I think cabal built this ok so I probably just need to add a flag somewhere. Any ideas?

[code]

[2015-07-29 17:37] ian-ross commented on #145
@drewr Hmmm.  I've not started using Stack yet, and I don't have access to an OS X machine, so I fear I might not be much help here!  However, there are some other OS X C2HS users who might have some idea.  In particular, @acowley uses OS X, knows what he's doing and might already have seen this.  Let's see if he'll weigh in...

[2015-07-29 18:28] acowley commented on #145
I don't use `stack`, either, unfortunately. In the past there were a lot of `libiconv` problems on OS X due to MacPorts installing its own that would often conflict with the system `libiconv`. The only thing I see in that trace that jumped out at me was that `runhaskell` is coming from `~/bin`. I thought `stack` used its own GHC for building. Is it possible there are two GHCs in play here?

[2015-08-03 20:24] ejenk opened #146 "Marshalling nested structs"
I'm having trouble getting c2hs to generate the right code for marshalling a struct containing members whose type is another struct. Consider the following C header file, in which a variable of type `bar_t` contains two members of type `foo_t`.

    typedef struct foo {
      int x;
      int y;
      int z;
    } foo_t;

    typedef struct bar {
      foo_t a;
      foo_t b;
    } bar_t;

I would

[2015-08-05 19:21] ejenk commented on #146
Perhaps I wasn't clear that this was meant to be a feature request rather than a bug report (although it's morphed into one; see the EDIT). The code I wrote in the second codeblock works perfectly well for accessing the `foo_t` members by reference; there's no need to write any additional C code. The problem is that c2hs does not appear to be able to produce such code automatically; I have to run

[2015-08-05 19:37] ian-ross commented on #146
@ejenk The "morphed into a bug report" part, I don't think is fixable without a more or less complete rewrite of C2HS's struct handling code -- see issue #129.  Nested structs just aren't something that the Haskell FFI deals with at all.  I do know how to do this, but it would require a fundamental change in the way that C2HS works, and a major reworking of quite a lot of code.  The basic problem

[2015-08-10 11:46] mjakob opened #147 "Support for type synonyms"
First of all, thank you for a great pre-processor!

I recently had a use case that can be simplified to this:
[code]
If this is processed by c2hs (in my particular case v0.25.2), I get:
[code]
This can easily be solved by adding `withCString*` as in marshaller to the `FilePath` argument (or change `FilePath` to `String`, but I like the implicit documentation it brings), but in my real case I have

[2015-08-10 21:20] ian-ross commented on #147
@mjakob  That's interesting.  I'd never really thought about the fact that C2HS chases C type aliases, but *not* Haskell ones!

Something like your second attempt really ought to work with the current version of C2HS, so that's definitely a bug that I'll fix.  I'll have to look at the Haskell type alias chasing more carefully.  I agree that this ought to just work as it is, but I don't know how tr

[2015-08-11 09:59] mjakob commented on #147
Thank you for looking into this, I'll be keeping an eye out for updates!

While experimenting, I found that I can get rid of the second error, "Internal type default error!", by adding a `{#typedef char CChar #}` above the `#default` hook. The [documentation](https://github.com/haskell/c2hs/wiki/Implementation-of-Haskell-Binding-Modules#typedef-and-default-marshaller-hooks) hints that there should

[2015-08-14 23:38] acowley opened #148 "Hackage release"
Can we push the current version to hackage?

[2015-08-15 16:42] ian-ross commented on #148
@acowley Yes.  Sorry, I've been neglecting C2HS a bit recently.  I'll do this in the next couple of days.

[2015-08-16 13:40] ian-ross commented on #148
@acowley  Done - version is 0.26.1.  I'm going to try to devote a bit more time to C2HS over the next few weeks, since I've been slacking a little lately...

[2015-08-16 13:40] #148 closed

[2015-08-25 15:23] kolmodin opened #149 "No error when declaring too few arguments in {#fun ... #}"
Declaring a function that takes one argument, and then trying different `{#fun ... #}` declarations.

[code]

[code]

Here's the issue; If we declare too few arguments there is no c2hs error.

[code]

`c2hs test.chs` compiles without a problem, and generates this code (shortened);
[code]

But, there is no such function `void test()`. `test` takes an argument.
GHC happily compiles the code, and it

[2015-08-25 19:46] ian-ross commented on #149
@kolmodin  OK, that's a terrible error.  It definitely shouldn't be like that!  It's not impossible that this used to work and I introduced this when I was working on variadic function hooks a while ago.  In any case, I'll fix it soon!

[2015-08-25 21:36] kolmodin commented on #149
Thanks for looking into it!

[2015-09-09 05:55] samvher commented on #145
I solved a similar problem by adding

    extra-lib-dirs: /usr/lib

to my cabal file. If I remember correctly MacPorts installs a version of libiconv which uses a different naming convention for its symbols - if the MacPorts libiconv is linked in you get these errors, so you need to make sure that the original system libraries are *first* on the path. By supplying the extra-lib-dirs argument (with

[2015-09-15 19:00] drewr commented on #145
Adding `/usr/lib` worked for me as well. I guess it isn't a default library path with the customizations stack adds.

[2015-09-15 19:00] #145 closed

[2015-09-25 20:39] trofi opened #150 "c2hs crashes on '__builtin_offsetof': gtk2hsC2hs: c2hs/c/CNames.hs:(162,1)-(180,71): Non-exhaustive patterns in function naCExpr"
Reproducer:

[code]

The original issue is rather weird, it's a `dev-haskell/glib` build failure on ia64: https://bugs.gentoo.org/show_bug.cgi?id=498638#c18
Don't understand why original issue is specific only for ia64. Looks quite generic.

But this reproduces crashes fine on amd64 :)

The request:

- at least print out precise location of problematic expression in `.i` file so it would be clear

[2015-09-25 20:59] ian-ross commented on #150
@trofi  Oh dear.  I'll have to take a look at what the current status of gtk2hsC2hs is, but there was a schism between the gtk2hs tools and the main C2HS branch years ago, before I even got involved in maintaining C2HS.  I'll have a look, but I think you might be out of luck there.  gtk2hsC2hs is part of gtk2hs-buildtools: http://hackage.haskell.org/package/gtk2hs-buildtools

A quick check with th

[2015-09-25 21:07] trofi commented on #150
Ah, sorry! c2hs is indeed prints a better error message.

Another mystery is resolved: the original ucontext.h is platform-secific.
Most of other platforms don't use offseof, thus no bug.

It's hard to imagine sane offsetof implementation, thus i'll close the bug.

My apologies :)

[2015-09-25 21:07] #150 closed

[2015-09-25 21:33] ian-ross commented on #150
Don't worry!  I think it took me some months after I started doing maintenance on C2HS to even realise that the gtk2hs version was a completely different beast...

[2015-10-20 10:09] albertov opened #151 "Missing import of C2HSImp"
c2hs 0.26.1 seems to forget to add an import for `C2HSImp` as can be seen in the failing build [here](https://travis-ci.org/meteogrid/bindings-gdal/builds/86346502).

The offending is code seems to be a `{#pointer #}` to a function pointer type in this [line](https://github.com/meteogrid/bindings-gdal/blob/8d4b8eaf6c0f44e9843fb37ebb91f336c4ad4180/src/GDAL/Internal/Algorithms.chs#L66)

Adding `impo

[2015-10-20 13:12] ian-ross commented on #151
@albertov Thanks for the report.  I'm not surprised that you found a hole in the new import management stuff.  To be honest, I was expecting a lot more problems with it!  I'll take a look at this some time this week.

[2015-10-25 19:13] ian-ross commented on #151
I think this should be fixed in HEAD now.

[2015-10-25 19:14] #151 closed

[2015-10-25 20:07] #149 closed

[2015-10-25 20:12] ian-ross commented on #10
Going to close this as I can't duplicate it and I've not heard back from the person who reported the regression.

[2015-10-25 20:12] #10 closed

[2015-10-25 20:13] ian-ross commented on #142
This turns out to be swinishly difficult to do right.  I've started it, but got bogged down with other things.  It *will* get done though, I promise!

[2015-10-25 21:33] #141 closed

[2015-10-26 10:24] CThuleHansen commented on #142
No worries, sounds great!

[2015-10-26 13:08] kolmodin commented on #149
Thanks @ian-ross!

[2015-10-26 13:17] ian-ross commented on #149
@kolmodin  No problem.  I'm only sorry it took so long -- I started a new job recently, and it's left little time for open source work!

[2015-10-26 13:19] kolmodin commented on #149
I know what you mean, no worries :) I've hardly had time to work on my project (that uses c2hs) anyway, similar reasons :)

[2015-10-31 00:33] TomMD commented on #151
I'm not seeing Ptr exported by `Foreign.C.Types` - shouldn't this import be `Foreign.Ptr`?

[code]

[2015-10-31 08:04] ian-ross commented on #151
@TomMD That's right, but if you have a `.chs` file with a `{#pointer ...#}` hook in it, C2HS generates Haskell with the imports

[code]

so you get both the things that are needed.  The problem in this issue was just that I'd forgotten to do the import collection for some kinds of pointer hooks -- I have a function that traverses a representation of the Haskell type corresponding to values needed

[2015-11-01 16:35] ian-ross commented on #140
@sinelaw I've had a look at the fix you wrote, and I think that in principle it's a good idea (using `Storable` instances where possible), but I'm less keen on *requiring* a `Storable` instance to be written.  One of the goals of C2HS is to make writing "normal" bindings very easy, so it tries to work out C structure sizes itself without requiring the user to write `Storable` instances to make tho

[2015-11-01 16:46] ian-ross commented on #146
@ejenk I've been thinking about this, and I think I'm going to have to say that I won't fix it.  (This is the first time I've ever done this for a C2HS issue, and I'm not that happy about it.)  What you're asking for just isn't within the gamut of the capabilities provided by the Haskell FFI, as far as I can tell.  Storage layout for nested C structs is something that is very compiler- and platfor

[2015-11-01 16:46] #146 closed

[2015-11-03 17:35] sinelaw commented on #140
Sounds reasonable. Should I take a shot at implementing it?
On Nov 1, 2015 18:35, "Ian Ross" <notifications@github.com> wrote:

[2015-11-03 21:29] ian-ross commented on #140
@sinelaw  You're welcome to do it (PRs are gold!), though I should be able to get to it on Thursday if things go as I hope with "real" work.  Adding stuff to the C2HS AST and parser is pretty easy, but it will probably be quicker for me to do it just because I've been in there lots of times before.

[2015-11-03 21:30] sinelaw commented on #140
Great! Leaving it for you to enjoy then ;)
On Nov 3, 2015 23:29, "Ian Ross" <notifications@github.com> wrote:

[2015-11-05 21:33] trofi opened #152 "struct typedef handling broke recently (libssh2 bindings do not compile)"
libssh2 fails to compile as:
[code]

Trimmed down example looks like:
[code]
[code]

Fails as:
[code]

[2015-11-06 09:00] ian-ross commented on #152
@trofi OK, this is a regression caused by the fix to #141. I'll take a look after the weekend.

[2015-11-18 23:56] deech commented on #117
Sorry to re-open this issue but I have a lot of functions that return a stack allocated struct, something like:
[code]
Is there any way to use the `%` syntax to marshal a bare struct when it is returned?

[2015-11-24 17:03] mrkkrp commented on #152
Any progress on this?

[2015-11-24 17:05] ian-ross commented on #152
No.  Started a new job recently, zero time to work on C2HS.  PRs more than welcome...

[2015-11-29 17:21] ian-ross commented on #152
This now appears to be fixed in HEAD (I can build `libssh2` with it anyway).  I'll do a release either later today or in the next couple of days, depending on how another bug fix I'm doing goes.

[2015-11-29 17:21] #152 closed

[2015-11-29 18:13] ian-ross commented on #140
I've done this as described above.  It will be in release 0.27.1, which should go onto Hackage a little later today.

[2015-11-29 18:13] #140 closed

[2015-11-29 18:15] sinelaw commented on #140
Awesome! Thanks!
On Nov 29, 2015 20:13, "Ian Ross" <notifications@github.com> wrote:

[2015-11-30 10:47] kaoskorobase commented on #152
Cool, thanks!

[2016-01-08 17:25] mtolly opened #154 "{#const #} doesn't appear to work"
The `const` feature introduced in #65 isn't working for me; it's simply inserting the C constant name, not its actual `define`d value.

`SndfileExtra.chs`:

[code]

After `c2hs SndfileExtra.chs`, `SndfileExtra.hs`:

[code]

Which of course leads to a GHC error that `SFC_SET_VBR_ENCODING_QUALITY` isn't defined.

[2016-01-09 15:54] ian-ross commented on #154
@mtolly This is because `{#const ...#}` only works for constants defined using `#define`, not for `enum` values (which is what `SFC_SET_VBR_ENCODING_QUALITY` is).  That's obviously not very helpful, so let me see if I can work out how to make it more useful!

[2016-01-09 19:16] mtolly commented on #154
Ahh! That's totally my mistake; I wasn't even thinking about the difference between those. Feel free to change it or not; I'm already using an `{#enum` for it so I'm good either way.

I suppose the reason to support `enum`s would be that often the documentation for a library doesn't distinguish between the two methods -- [the relevant libsndfile page](http://www.mega-nerd.com/libsndfile/command.ht

[2016-01-12 14:52] noughtmare opened #155 "No parse when importing a module (with an import hook), which is using class hooks"
I have one file Types.chs with the code:

[code]

If I then import that file with ```{#import Types#}``` in a second file, c2hs gives me the error: "Prelude.read no parse".

[2016-01-12 15:52] noughtmare commented on #155
I found the solution:
I had to use the language extensions TypeSynonymINstances and FlixibleInstances...

[2016-01-12 17:40] ian-ross commented on #155
@noughtmare Is this a real issue or not?  I got an email comment from you saying that it wasn't, but that comment doesn't show up here, so I don't know if you deleted it...  (If it is a real issue, I'll have a look at it on the weekend: I've blocked out some C2HS time for Sunday.)

[2016-01-12 18:46] noughtmare commented on #155
Ah, yes I thought I had found the solution, but when I recompiled from scratch it didn't work anymore. So it is not fixed yet.

[2016-01-12 18:55] ian-ross commented on #155
@noughtmare Thanks for confirming.  I'll take a look on Sunday.

[2016-01-17 22:16] #155 closed

[2016-01-17 22:18] ian-ross commented on #155
@noughtmare So, there *was* a bug in the handling of class definitions in CHS files imported into other files.  However, you should probably also know that the example code you provided needs some changes to work, to do with language extensions needed for some of the instance definitions, and for lack of capitalisation on Haskell type names.  You can see one working version in `tests/bugs/issue-15

[2016-01-18 12:47] noughtmare commented on #155
Thank you!

[2016-01-31 08:57] eboasson opened #156 "incorrect sizeof for structs with padding at the end"
It appears the padding of a struct to make its size a multiple of its alignment doesn't happen. This also means embedding a struct for which this happens in another struct causes any subsequent fields to have incorrect offsets. Attached is a simple case that triggers it.

A minor change makes this case (and my actual problem go away):
[code]

[bug.zip](https://github.com/haskell/c2hs/files/111183/

[2016-02-13 13:36] deech opened #157 "C2HS, broken on Win64 with Stack?"
Hi,
I'm trying to run C2HS on Windows 7 64 bit using the C/C++ compilers that are now bundled with the latest GHC (7.10.3) and running into the following error:

[code]

At this point I'm not even sure this is the fault of `c2hs` or `language-c` but I thought I'd ask.

Thanks!

[2016-02-13 17:05] RyanGlScott commented on #157
Here's a minimal example which reproduces the error (on C2HS 0.27.1):

[code]
I suspect the error is specific to GHC 7.10.3, since it was that version in which the MinGW-w64 toolchain that is bundled with Windows GHC [was upgraded](https://git.haskell.org/ghc.git/commitdiff/7b211b4e5a38efca437d76ea442495370da7cc9a). In particular, it now includes `gcc-5.2.0`.

[2016-02-13 17:09] RyanGlScott commented on #157
Here is the code from `bmi2intrin.h` that C2HS fails to preprocess:

[code]

[2016-02-13 17:15] RyanGlScott commented on #157
And `__int128` is defined in `ghc-7.10.3/mingw/x86_64-w64-mingw32/include/_mingw.h`:

[code]

[2016-02-13 18:42] deech commented on #157
Wow! Thanks for tracking this down so quickly. I'll help test patches if necessary. Guess not too many people are using C2HS on Win64. :)

[2016-02-13 18:44] RyanGlScott commented on #157
To be clear: I don't know _why_ C2HS is choking on the above lines. I'll need @ian-ross's expertise to figure that out. All I can do is be a guinea pig for Windows testing :)

[2016-02-16 01:51] takano-akio commented on #156
I also encountered the same problem, and @eboasson's patch above fixed the issue.

[2016-02-17 11:43] ian-ross commented on #157
I'll try to look at this this weekend.  I'd guess that it's a language-c issue, but I'm not sure.  We experience periodic breakage when C compilers change...

[2016-02-17 11:45] ian-ross commented on #156
@eboasson Thanks for the report.  I'll try to look at this this weekend.

[2016-02-21 15:16] ian-ross commented on #157
I think that the problem here is that `__int128` is defined as a typedef name, then it's used as `unsigned __int128`.  Neither gcc 5.3.0 nor clang 3.7.1 accept that on Linux.

According to a quick skim through the C standard, this isn't even legal (look at Example 3 on page 138 of http://www.open-std.org/jtc1/sc22/wg14/www/docs/n1570.pdf).

I don't know what to suggest here.  It's clearly not a C2

[2016-02-21 15:25] ian-ross commented on #157
OK, I see that @RyanGlScott says the gcc version is 5.2.0.  What does your C compiler do with this?

[code]

On Linux, gcc 5.3.0 chokes on it, saying:

[code]

clang 3.7.1 says this:

[code]

That first error message ("redefinition as different kind of symbol") seems to square with that example from the standard I quoted above.

In any case, it seems that things are unlikely to work whenever `__in

[2016-02-21 15:28] ian-ross commented on #156
Thanks for this: the fix turned out to involve a tiny bit more (mostly to do with sizing for bitfields), but I've added a test case to make sure this doesn't break again.

[2016-02-21 15:28] #156 closed

[2016-02-21 16:41] RyanGlScott commented on #157
Huh, compiling that code with gcc 5.2.0 on Windows gives the exact same gcc error.

This gcc does appear to have `__int128` and `__SIZEOF_INT128__` defined by default, even without any `#include`s. What's interesting is if I try to compile something without `__SIZEOF_INT128__` defined:

[code]

[code]

[2016-02-21 16:50] RyanGlScott commented on #157
Also, GHC for Windows uses variants of the MinGW-w64 `gcc` toolchain that have been compiled by the [MSYS2 project](https://github.com/Alexpux/MINGW-packages). Here are [the versions](http://downloads.haskell.org/~ghc/mingw/x86_64/) of things that GHC Windows uses currently:

[code]

[2016-02-21 17:13] ian-ross commented on #157
@RyanGlScott  Looks like a bit of a mess.  Do you agree that it's not a C2HS issue though?  Are you happy for me to mark it as "wontfix"?  (I'll leave it open so you can add any more information you find, since there's not really anywhere else for it.)

[2016-02-21 17:24] deech commented on #157
Hi,
Thanks for looking into this! I opened the issue and I'm ok with closing as "wontfix".

Do you have any suggestions as to who might be able to help with this?

[2016-02-21 17:28] ian-ross commented on #157
@deech Benedikt Huber has been looking after language-c, and he accepts patches, so if you were to figure out what to do, you could probably get language-c updated.  But I don't know anyone who is a big enough Windows user of C2HS or language-c to care enough about this to disentangle everything that's going on.  I don't have a Windows setup I can test on, and I suspect that this might need quite

[2016-02-21 17:32] deech commented on #157
Yes, C2HS with GHC 7.10.3 on Windows should always fail with this error.

GHC 7.10.2 seems to work fine. Hopefully GHC 8 works well too. Sure am glad 'stack' exists, because it means I'm going to have to pin Windows users to 7.10.2. :)

 It might be worth issuing a statement on the mailing list or something but that's your call.

[2016-02-21 17:55] RyanGlScott commented on #157
I doubt GHC 8 will work, since it uses the same MinGW-w64 `gcc` toolchain as GHC 7.10.3.

I think you're right in stating this isn't a `c2hs` issue, and something probably needs to be patched on the MinGW-w64 side. One thing doesn't make sense to me, though. This code:

[code]

compiles without issue without needing any `#include`s. If that's the case, it seems unlikely that `__int128` is actually

[2016-02-21 17:58] deech commented on #157
I just looked in the GNU GCC docs and they advocate using `__int128` this way: https://gcc.gnu.org/onlinedocs/gcc/_005f_005fint128.html

[2016-02-21 19:24] ian-ross commented on #157
@RyanGlScott `__int128` is a builtin type in GCC, but you can make a typedef called `__int128` as well.  If you *don't* make the typedef, then saying `unsigned __int128` is fine, since you're just saying you want the unsigned version of a builtin type.  If you do make the typedef, then saying `unsigned __int128` isn't allowed.  The code from `_mingw.h` you show above defines `__int128` as a typede

[2016-02-21 19:47] RyanGlScott commented on #157
I really don't think this has anything to do with `typedef`s, but rather how `language-c` is parsing `__int128` in general. As evidence, compiling the definition of `_mulx_u64` works just fine on both Windows and Linux, but on both OSes, `language-c` fails to parse it:

[code]

@visq, how does `language-c` deal with `__int128` (as a GCC extension) at the moment?

[2016-02-21 20:07] ian-ross commented on #157
OK, this is kind of confusing (for me at least!).  You're right that language-c doesn't deal with any of these extra builtin types directly.  Just trying to load this from a file with `Language.C.parseCFilePre` gives an error, for example:

[code]

So it looks like this isn't going to work whichever way it goes: typedef means no `unsigned __int128`; no typedef means no builtin GCC special `__int12

[2016-02-21 20:19] RyanGlScott commented on #157
To be specific, the problem is that `windows.h` transitively depends on `bmi2intrin.h`, where `__int128` is used (in `_mingw.h`, the `typedef` definition of `__int128` is always CPP-ed out unless you're doing something strange, so I think trying to look at `_mingw.h` is a red herring). You can also trigger the issue on Linux by creating a file with `#include <x86intrin.h>` and attempting to parse

[2016-02-21 20:26] ian-ross commented on #157
Right, so whatever other workarounds you might come up with, the root problem is that language-c doesn't know about `__int128` (or any of the other `__intXX` GCC types).  It's just never been a problem on Linux so far (as far as I know).

[2016-02-21 21:03] RyanGlScott commented on #157
Well, `language-c` does appear to support some GCC-specific types such as `_Bool` (by inspecting the source code). FWIW, I just compiled a modified version of `language-c` where I hacked in `__int128` and `unsigned __int128` into the ASTs, and now `language-c` can parse `#include <x86intrin.h>` without issue.

Now, I have no idea if this is how @visq would want to handle this in GCC—I'd still need

[2016-02-27 20:12] hesselink opened #158 "c2hs: Feature not yet implemented: GenBind.evalCCast: Casts are implemented only for integral constants"
I'm getting the message

[code]

when compiling [kqueue](https://github.com/hesselink/kqueue), using c2hs version 0.25.2. I've tested GHCs 7.4, 7.6 and 7.8, and I'm pretty sure it worked on at least some of those in the past. Any idea what this could be? Something that changed in c2hs, or something in my OS (I'm on Mac OS X 10.10.5)?

[2016-02-28 17:06] ian-ross commented on #158
Urgh.  No idea, I'm afraid.  I don't have a Mac to test C2HS on, so OS X behaviour is a bit hit and miss.  The only way I've ever been able to test things on OS X is using a kind of horrible Travis setup, but the turnaround times on that obviously make it completely impractical.  I do a fair bit of testing for Linux (running regression tests against a number of packages that use C2HS), but I have

[2016-02-28 20:03] visq commented on #157
From the discussion I understand this is a new basic type (like short or long). It is easy to add new builtins or typedefs, but there is no simple way to support new primitive types in `language-c`, you will need to modify the AST.

Because `language-c` aims to support all `gcc` extensions, and because `c2hs` needs it, I would agree that `__int128` should be supported in `language-c`, even if this

[2016-02-28 20:05] ian-ross commented on #157
@visq Sounds good!  @RyanGlScott Are there other types that need to be covered as well as `__int128`?

[2016-02-28 22:06] RyanGlScott commented on #157
Chances are, there are probably more GCC-specific types in existence that we haven't found yet. But to avoid casting too wide of a net, I'll stick with `__int128` and `unsigned __int128`, since adding those two types to `language-c` fixes the `c2hs` issue for me.

I e-mailed @visq a `language-c` patch which implements the needed changes to support `__int128`.

[2016-02-29 19:08] hesselink commented on #158
We have an old laptop at work, I can try to get it set up tomorrow. I gave it a try today but it didn't finish booting, so don't get your hopes up... :/

Is there some way I can help debug this on my machine?

[2016-02-29 19:51] ian-ross commented on #158
My previous efforts at debugging OS X problems have mostly consisted of browsing through various versions of the OS X C header files I found online and using the Travis setup I mentioned.  That was no fun, and I don't want to try it again!

However, you could email me the transitive closure of the C #include dependencies of your package, so I can have a look through them for what might be causing

[2016-02-29 20:26] hesselink commented on #158
Thanks, I've sent the output and the headers.

[2016-02-29 21:20] ian-ross commented on #158
Minimal test case:

Tst.chs:

[code]

tst.h:

[code]

Seems to be to do with casting C enumeration values.

[2016-03-02 23:03] RyanGlScott commented on #157
@visq has uploaded [`language-c-0.5.0.0`](http://hackage.haskell.org/package/language-c) to Hackage, which contains the `__int128` fix. At least on my end, I can successfully compile `.chs` files containing `windows.h` or `x86intrin.h`, so I believe that should be the end of that issue.

@deech, are you able to build `fltkhs` successfully on Windows with GHC 7.10.3 and `c2hs` built against `langua

[2016-03-03 02:36] mitchty opened #159 "c2hs seems to have issue with C11 _Noreturn function specifier."
Noticed this on alpine linux 3.3.1 when compiling the ncurses package.

The error log:
[code]

And that section of stdlib.h:
[code]

I think it would be ok to just ignore _Noreturn in these cases correct? The function specifier doesn't really change the fact that its a function just specifies that these functions never return to their caller. I couldn't find anything in the source that seems to in

[2016-03-03 10:15] ian-ross commented on #159
@mitchty C2HS uses the language-c library to parse header files: the language-c package claims to deal with "all of C99 and a large set of GNU extensions", i.e. it's not a C11 parser.  We're getting more and more problems with C2HS due to the default C compilers supplied with distributions moving beyond C99.  I know what to do about it, which is to use one of the other Haskell C parsing libraries,

[2016-03-03 11:44] ian-ross commented on #157
@deech @RyanGlScott Are either (or both!) of you interested in taking over maintenance of C2HS?  (https://mail.haskell.org/pipermail/c2hs/2016-March/001134.html)

[2016-03-03 15:38] deech commented on #157
@ian-ross I am tentatively on board with helping out with C2HS. Ideally I wouldn't want to be the only one maintaining because, as we have just seen, there will be problems I don't really understand how to solve.

@RyanGlScott Thanks for all your work. I don't have access to a Windows box, but I will tonight, so I'll build there and let you know.

[2016-03-03 15:43] ian-ross commented on #157
@deech Excellent.  I think that C2HS needs someone on maintenance who's a bit more invested in the thing.  I only use C2HS for one package of my own, never work on anything other than Linux, and no longer have the enthusiasm required to do the C parser switchover stuff that's probably going to be needed.  I went through a big C2HS hacking phase about a year ago and added quite a bit of new functio

[2016-03-03 15:50] jputcu commented on #157
I've been able to build fltkhs, and run the hello-world example, on windows 10 using c2hs with language-c 0.5.0.

[2016-03-06 04:07] mitchty commented on #159
@ian-ross Fair point, I'll open up a bug against language-c. I think having it work with C11 would be preferable as I don't think it will be going away. I notice it just changed ownership as well so we'll see where this goes. For the moment I'm just hacking stdlib.h to work around things.

[2016-03-16 14:30] visq commented on #159
I've started working on C11 support in language.c.
_Noreturn has been implemented already:
https://github.com/visq/language-c/commit/7a1ab1af9b5df9019931412130056cdc173698bf

[2016-03-25 19:07] W4RH4WK opened #161 "Enum omit breaks mapping"
Say I have an enum definied in C like this

[code]

Using `{# enum MyEnum {} omit (SomeB) #}` will result in

[code]

Of course now the mapping is messed up since `SomeB` from C will map to `SomeC` in Haskell.

[2016-04-01 15:41] ian-ross commented on #157
Should be fixed in 0.28.1.

[2016-04-01 15:41] #157 closed

[2016-04-13 16:28] acowley opened #162 "Determining the cpp to use in the test suite"
I'm trying to resolve the fact that the test suite fails on OS X using the Nix package manager. In looking into this, I came across this bit of code in `Config.hs`

[code]

The failure with Nix is due to an assumption of `gcc` somewhere, while `clang` is the system C compiler and `gcc` is actually unavailable in minimal build environments (which Nix users are big fans of). I'm not sure if this ins

[2016-04-14 09:21] peti commented on #162
Does the `Setup.hs` file not honor a `--with-cpp` flag during `configure`? If it does not, then that would surely be a bug.

[2016-04-18 18:12] robinp opened #163 "Specify argument names and/or docstrings with fun hooks?"
Hello. Is it possible to tell the fun hook what name to use on the various generated arguments? Instead of just `a1`, `a2` etc. Thanks!

[2016-04-18 18:21] RyanGlScott commented on #163
Not that I'm aware of, no. Is there a particular reason why you'd need the
arguments to have certain names?
On Apr 18, 2016 2:12 PM, "Robin Palotai" <notifications@github.com> wrote:

[2016-04-18 18:27] robinp commented on #163
It would be nicer to read - for example, if there are three `Bool` arguments, would be nice to give descriptive names to them. Though I found you can put docstrings on the types, which alleviates the problem slightly.

One could argue that the wrapped functions are low-level and probably need a higher level wrapper with proper names - but still feel it would be useful to have descriptive names at

[2016-04-25 01:35] shanemikel commented on #147
This problem really bit me today

[2016-05-10 15:07] Fizzixnerd opened #165 ""Internal type default error""
Hello.

I am using c2hs to generate bindings to Wayland.  I came across this unhelpful error message.  I consider such a thing as a bug; it has halted me from making progress because I don't know what to do.

[code]

Here is a minimal example that expresses the bug.

[code]

And here is the output of `c2hs --version`

[code]

This is the latest version from Cabal.

Finally, I want to express what

[2016-05-14 16:22] idontgetoutmuch opened #166 "Invalid Syntax Error?"
[code]

Here's the offending line

[code]

I'm assuming this really is valid as PETSc users are not complaining.

[2016-05-14 16:31] idontgetoutmuch commented on #166
@ian-ross I saw this: http://stackoverflow.com/questions/29324155/library-design-of-petsc-ffi-in-haskell so I must be doing something wrong.

[2016-05-25 00:40] YellowOnion opened #167 "Syntax error ! The symbol `v' does not fit here. (building OpenCL)"
[code]

[2016-06-03 17:37] facundominguez opened #168 "size and offset errors with bit-fields and typedefs"
This happens on windows with 32-bit version of ghc-7.10.3, c2hs-0.28.1, gcc-5.2.0.

gcc and c2hs disagree on the size of the `bitfields0` struct below.
[code]
C test program
[code]
Output:
[code]

c2hs program
[code]
Output:
[code]

[2016-06-10 23:51] acowley commented on #167
I fixed what might be a similar issue with building the `OpenCL` package on OS X. You can try out my [branch](https://github.com/acowley/language-c-1) of `language-c` to see if it helps. You will need to rebuild `c2hs` as well (i.e. `stack build c2hs`) after adding my `language-c` update to your list of packages.

[2016-06-17 09:34] kseo opened #169 "Cannot recognize C type aliases"
Here is a snippet of the C header file that I want to create a binding for:

[code]

`my_string_t` is a type alias for `my_string_utf8_t`.

[code]

I created a Haskell type alias `MyString` and used its pointer type. `MyStringPtr` in defining the function hook for `my_string_free`. However, the binding for `my_string_free` fails to recognize `my_string_t` type and used `Ptr ()` instead of `MyStrin

[2016-06-19 15:27] kseo opened #170 "Support circular imports"
I would like to create a separate c2hs file for each C header file for ease of maintenance. But what if there are looping struct declarations?

* foo.h
[code]

* bar.h
[code]

I made `Foo` and `Bar` mutually recursive as in the following:

* Foo.chs
[code]

* Bar.chs
[code]

However, it seems there is no way to process two mutually recursive c2hs files. c2hs complains when I pass these two c2hs fi

[2016-08-19 06:01] jchia opened #171 "#sizeof doesn't work on struct fields"
Trying to c2hs the following Foo.chs fails with "The phrase `.' is not allowed here." I want to get back 10. Replacing #sizeof with #offsetof causes c2hs to succeed.

[code]

[code]

[2016-08-19 10:29] jchia opened #172 "#pragma pack not recognized"
Although `#pragma pack` is not part of the C standard, the most popular compilers support it. Can we make c2hs also recognize it and process it properly so that structs defined under some `#pragma pack` can be properly used in Haskell?

[2016-09-01 13:02] dbeacham opened #173 "Redundant import when creating foreign #pointer"
e.g.

[code]

generates

[code]

The extra (unused) `Foreign.Ptr` import blows up on `-Werror`.

[2016-10-18 19:26] kolmodin opened #174 ""pointer foreign finalizer fcide" not working"
Using
`C->Haskell Interface Version C->Haskell Compiler, version 0.28.1 Switcheroo, 1 April 2016`

I'm defining a pointer

[code]

However, the finalizer is only added in `{#fun#}` declarations in the same file. Fun declarations in other files don't get the finalizer.

The `.chi` file doesn't mention the finalizer function.

[2016-12-09 00:31] centromere opened #175 "{#sizeof#} returns incorrect value"
I'm using [this](https://github.com/nfc-tools/libnfc/blob/e9a750fc005fc545e731c9e063e2840f7ee4049e/include/nfc/nfc-types.h) include file and the following Haskell source:

[code]

The output of c2hs is:

[code]

But when I compile the following program:

[code]

The output is:

[code]

[2016-12-09 05:46] ian-ross commented on #175
Probably a duplicate of #172, since that header uses `#pragma pack`.

[2016-12-13 07:40] RonVanderMeyden opened #176 "error on stdio (Sierra)"
After an upgrade to OSX Sierra, I see the following ...

c2hs: C header contains errors:
/usr/include/stdio.h:133: (column 19) [ERROR]  >>> Syntax error !
  The symbol `_close' does not fit here.

It seems others have hit this issue as well, as yet unresolved as far as I can see.
See  https://github.com/tweag/HaskellR/issues/275

[2016-12-22 02:22] JulianZhang opened #178 "Can't build cpthyon on Macos Sierra"
My system is Macos Sierra, When I build cpython I get error as blow.

--  While building package cpython-3.4.0 using:
      ~/.stack/setup-exe-cache/x86_64-osx/setup-Simple-Cabal-1.22.5.0-ghc-7.10.3 --builddir=.stack-work/dist/x86_64-osx/Cabal-1.22.5.0 build --ghc-options " -ddump-hi -ddump-to-file"
    Process exited with code: ExitFailure 1
    Logs have been written to: ./.stack-work/logs/cpyth

[2016-12-22 02:41] mchakravarty commented on #178
This is a duplicate of #176.

[2017-01-04 11:27] kryoxide commented on #176
Is there a known workaround for this?

[2017-01-04 11:36] ian-ross commented on #176
Not that I know.  Errors like this are usually down to C syntax features unsupported by the `language-c` package (which is what C2HS uses to parse header files).  The best way to get movement on issues like these is probably to make a small test case and submit it as an issue to the `language-c` maintainers: https://github.com/visq/language-c/issues/

[2017-01-21 17:09] kolmodin opened #179 "c2hs builds with -fno-warn-incomplete-patterns"
c2hs builds with

[code]

and then fails at runtime;

[code]

[2017-01-21 17:12] kolmodin commented on #179
Turning the incomplete patterns warnings back on;

[code]

[2017-01-21 17:33] kolmodin commented on #176
@kryoxide The only workaround I know is to define these variables to empty strings.
Not sure if it's guaranteed to work since you may end up with invalid C code, but it worked in my project.
See https://github.com/grpc/grpc-haskell/issues/6.

[2017-01-21 17:56] kolmodin commented on #179
I had written this c2hs code;

[code]

But the C code had been updated from `char*, size_t` to `grpc_slice`;
[code]

Thus c2hs expects two arguments in the C function, but there was only one.
Naturally c2hs needs to fail generating the bindings, but the failure should be informative.

[2017-01-21 18:17] kolmodin opened #180 "c2hs crashes on invalid input"
I had written this c2hs code;

[code]

But the C code had been updated from `char*, size_t` to `grpc_slice`;
[code]

Thus c2hs expects two arguments in the C function, but there was only one.
Naturally c2hs needs to fail generating the bindings, but the failure should be informative.

Currently it crashes at runtime with an error message which doesn't tell you where in your code you have a problem

[2017-02-02 19:53] #180 closed

[2017-02-09 16:10] sebeaumont commented on #176
This is a show stopper for me on OSX any proper fix in the pipe?

[2017-02-09 20:13] kolmodin commented on #176
@sebeaumont Not that I know. If somebody with a Mac could follow @ian-ross suggestion in https://github.com/haskell/c2hs/issues/176#issuecomment-270351933 that would be a good first step.

[2017-02-11 00:42] deech commented on #176
At least one issue I'm seeing off the bat is the `language-c` doesn't know how to parse Apple's block syntax, `(^ ...)` but they are always between `__BLOCKS___`. I'm looking into seeing if these can be ignored by `c2hs` by passing a flag.

[2017-02-11 09:37] sebeaumont commented on #176
Yes I've found a few more things - I'm thinking c-language only supports c90 - since I've full control over  headers I'm using to I/f library so I'm taking a defensive approach and working around these things now. Once I've worked out the marshalling I will probably go back to using vanilla Haskell FFI and doing it by hand. In the meantime I'll enforce some c90 tests on my headers and take it from

[2017-02-11 18:02] deech commented on #176
Ok I've found the two issues, and have been able to work around them successfully. They are:
- Apple's block syntax `(^ ...)`
- Use of the `_Nonnull` keyword in headers, eg.
[code]

I successfully built my C2HS project by adding the following to the `.cabal` file:
[code]

[2017-02-13 06:09] ian-ross commented on #176
@deech That preprocessor undefine to deal with the blocks thing should already be there (https://github.com/haskell/c2hs/blob/master/src/Main.hs#L580).  That was one of the few OS X specific things I managed to find an easy workaround for...

[2017-03-01 14:05] snoyberg opened #185 "Upper bound on language-c 0.6"
Original issue: https://github.com/fpco/stackage/issues/2340

[2017-03-06 20:14] #178 closed

[2017-03-06 20:14] #185 closed

[2017-03-06 20:54] deech commented on #179
I am unable to upload to Hackage.
![upload-failed](https://cloud.githubusercontent.com/assets/76703/23629258/c234cbe4-027c-11e7-919e-13399ac1610f.png)

@ian-ross Can you add me to the Hackage group?

[2017-03-06 21:01] ian-ross commented on #179
@deech Just tried to add you.  Do you get some sort of email when I do that?  Because you're not just appearing on the maintainers list when I add you (username `deech`, I guess?).

[2017-03-06 21:04] deech commented on #179
I haven't yet. Just refreshed the Hackage page and I don't see my email address listed.

[2017-03-06 21:05] ian-ross commented on #179
Hmmm.  Maybe the web form for adding maintainers doesn't work.  Let me just pull from the repo, add you to the maintainers list in the Cabal file and do an upload.  That might work better.  Just give me a minute...

[2017-03-06 21:10] ian-ross commented on #179
OK, I've just uploaded 0.28.2 with you added to the maintainers list in the Cabal file.  It doesn't make editing the maintainers list in the web form work any better though...

[2017-03-06 22:16] deech commented on #179
Ok, I see the version up there with my email address. Let's see if it works on the next release. Thanks!

[2017-03-06 22:16] #179 closed

[2017-03-06 22:17] deech commented on #176
Should be fixed in [0.28.2](https://hackage.haskell.org/package/c2hs).

[2017-03-06 22:17] #176 closed

[2017-03-07 13:57] sebeaumont commented on #176
Thanks very much. Currently I've sidestepped these issues so as to proceed with 0.28.2 I can go back and undo my workarounds.

[2017-03-15 05:26] sighingnow opened #187 "New line at the end of file is necessary?"
Hi,

I have encountered a trouble when using c2hs. If the file is end of a `{#fun#}` binding and there's no new line at the end of file, an exception

[code]

would be thrown. I'm wondering whether it's a bug, or just a feature?

A minimal case can be used to reproduce this bug:

[code]

When add a new line at the end of file, c2hs would works well.

[2017-03-15 18:22] deech commented on #187
I can't reproduce. Which version are you using? You can get that with `c2hs --version` if installed globally or `stack exec c2hs -- --version` if installed via `stack`.

[2017-03-16 01:03] sighingnow commented on #187
My c2hs executable is built from the latest source code on github (on Windows 10 64bit platform).

version:

[code]

git-rev: `29bd635c9e350992a47d6ec56002e8012619b19b`

version of language-c: `language-c-0.6`

The following source file can be used to reproduce this error (sorry for upload a zip file because raw chs files are not permitted here):

[t1.chs.zip](https://github.com/haskell/c2hs/files

[2017-03-16 19:58] deech commented on #187
I was able to reproduce this issue on Windows 10 (but not on Linux). It appears to be an issue with Windows line endings. If I open and save `t1.chs` in MSYS2's `vim` package (which defaults to Unix line endings) it works fine even without having to add the extra line. However when I do the same in Notepad I have to work around the issue as you did.

In any case, this is a bug and I'll look into i

[2017-04-25 15:59] KaneTW opened #188 "{#import module#} does not work cross-package"
GIven a package hierarchy with two packages `a` and `b` and files
[code]

[2017-04-25 16:08] KaneTW opened #189 "{#import#} causes C2HsImp imports to be omitted"

[2017-05-03 14:38] gilgamec opened #190 "Anonymous enums within structs not supported"
The `#enum` binding can bind named `enum`s by name, or anonymous `enum`s by referencing one of the values.  However, it cannot reference anonymous `enum`s which are defined within a struct (named `enum`s in structs work fine).

If the header file is
[code]
then the binding
[code]
fails with
[code]

The same binding works if the enum is declared at global scope.

[2017-05-21 08:03] felixonmars opened #191 "Failure with GCC 7"
I am trying to build gnuidn-0.2.2 against GCC 7.1.1 and failed with a failure of c2hs:

[code]

I have tried to build it against GCC 6.3.1 and the error is gone. It seems a problem of c2hs with GCC 7.

[2017-05-21 16:44] deech commented on #191
Are you using `c2hs-0.28.2`? If not please upgrade. You can verify with `c2hs --version`.

[2017-05-21 16:48] felixonmars commented on #191
Yes it is c2hs-0.28.2

[2017-05-21 20:27] MaskRay commented on #191
Similar issues were also reported at https://bugzilla.redhat.com/show_bug.cgi?id=1427000 and https://github.com/gtk2hs/gtk2hs/issues/200.

/usr/lib/gcc/i686-pc-linux-gnu/7.1.1/include/stddef.h:435:
[code]

The type `__float128` exposed in i686 build is unsupported by `language-c` used by c2hs.
https://github.com/visq/language-c/blob/master/README#L36

[2017-09-01 08:06] trofi opened #192 "c2hs-2.28.2 (and master) is not able to parse glibc-2.26 <math.h>"
The test Issue-83 fails as:
[code]

[code]

It seems to be related to macro expansion. I'll try to build minimal reproducible example
out of glibc headers.

[2017-09-01 08:38] trofi commented on #192
The minimal header contains `_Float128`:

[code]

Look similar to #191

[2017-09-26 07:40] tangboyun commented on #192
Same error here.

GCC version: 7.2.0
glibc: 2.26
arch: x86_64
c2hs: latest

    Configuring inline-r-0.9.0.1...
    Building inline-r-0.9.0.1...
    Preprocessing library inline-r-0.9.0.1...
    c2hs: C header contains errors:

    /usr/include/bits/mathcalls-helper-functions.h:21: (column 40) [ERROR]  >>> Syntax error !
      The symbol `__value' does not fit here.

Build c2hs against lang-c-0.7.

[2017-09-30 13:35] jchia commented on #191
I'm using gcc 7.2.0 and getting an error that also mentions 128-bit floating point:
[code]

Pull request #193 updates to language-c-0.7, but it doesn't seem to solve my problem. @felixonmars: Does it solve yours?

[2017-10-02 06:50] jchia commented on #191
I think the error I saw is a result of `_Float128` being unrecognized by `language-c`. https://gcc.gnu.org/onlinedocs/gcc-7.2.0/gcc/Floating-Types.html#Floating-Types

[2017-10-08 18:48] lspitzner commented on #192
After some trial and error, I found an ugly workaround: Modify `mathcalls-helper-functions.h` and replace `_Mdouble_` with `double` (`math.h` does `#define _Mdouble_		double` for me).

Not fond of modifying system include files, but better than being forced to downgrade my system..

[2017-10-08 19:07] lspitzner commented on #192
Of course that would be too easy and breaks, because at some point `_Mdouble_` gets defined as `float`, too. Nevermind.

[2017-10-09 22:33] deech commented on #192
I upgraded `c2hs` to `language-c-0.7.0` on a [branch on my fork](https://github.com/deech/c2hs/tree/LanguageCUpgrade_Float128Bug). I also included a [failing test case](https://github.com/deech/c2hs/tree/LanguageCUpgrade_Float128Bug/tests/bugs/issue-192) using the minimal example provided. I was able to work around this particular issue by doing `c2hs --cppopts=-D_Float128=__float128 c2hs/tests/bu

[2017-10-24 13:45] albertov opened #194 "Support language-c 0.7"
So it includes the fix for https://github.com/visq/language-c/issues/34 which is causing the build of [bindings-gdal](https://github.com/albertov/bindings-gdal) to fail on OS X

[2017-10-24 14:08] albertov commented on #194
Adjusting the version bounds in `.cabal` fails with:
[code]

[2017-10-24 14:12] deech commented on #194
I have a fix for this on my branch https://github.com/deech/c2hs/commit/8b79823c32e234c161baec67fdf7907952ca62b8. I was also working on the `__float128` vs `_Float128` bug but if you really need `language-c 0.7` I can cut another release.

[2017-10-24 14:21] albertov commented on #194
No hurries. I can pull `c2hs` directly from your branch for `bindings-gdal`'s CI easily to see how it goes and update it when you're ready for a release.
Thanks!

[2017-10-24 14:26] deech commented on #194
That `_Float128` test isn't passing. If you don't care about that go ahead and pull otherwise I'll fix it later this morning.

[2017-10-24 16:03] albertov commented on #194
I can confirm that your branch allows building `bindings-gdal` on OSX X!

The failing doesn't bother me at all, I'm building with nix so `dontCheck` "solves" the issue for the meantime.

[2017-10-24 16:05] albertov commented on #194
I've just seen that this is a duplicate of #193.

[2017-10-24 16:05] #194 closed

[2017-10-28 07:03] MaskRay commented on #191
The `__float128` change to `language-c` is upstreamed https://github.com/visq/language-c/pull/33

[2017-10-28 16:17] deech commented on #191
But it still fails with `_Float128`. https://github.com/visq/language-c/issues/39

[2017-11-09 07:50] krakrjak commented on #192
@deech I tried using the following in a test stack.yaml file:
[code]

When building that commit I get the following error:
[code]

[2017-11-09 12:19] deech commented on #192
I also, unfortunately, had issues setting the location by commit hash. I ended up doing:
[code]

[2017-11-09 12:23] krakrjak commented on #191
I have submitted a small fix, https://github.com/visq/language-c/pull/41

I tested it with the 0.7.0 compatibility improvements made by @deech and my test cases started working without having to define `_Float128` for c2hs.

[2017-11-09 12:46] krakrjak commented on #192
I got this working, from your branch of c2hs do a stack init and try the following snippet
[code]
Then `stack build` and put the resulting `c2hs` binary on your PATH somewhere. That will at least reduce the amount of `--cppopts=-D....` you have to carry around while the dust settles.

[2017-11-09 12:49] deech commented on #192
Once your `language-c` PR is merged I'll cut another release of `c2hs`.

[2017-11-10 13:40] mdorman commented on #192
So in an effort to get `alsa-mixer` buliding again on NixOS, I modified the expressions for `language-c_0_7_0` to include (as a patch) https://github.com/krakrjak/language-c/commit/5c0efb4d5d49bcd065b8c9e41188a41562edf37c, and `c2hs` to include (as a patch) https://github.com/deech/c2hs/commit/8b79823c32e234c161baec67fdf7907952ca62b8

Unfortunately, when the test suite for `c2hs` is run, I get 5 f

[2017-11-10 13:44] deech commented on #192
Would you mind posting your Nix recipe? I don't run NixOS but I can try replicating with plain Nix.

[2017-11-10 13:52] mdorman commented on #192
Happy to!  https://github.com/mdorman/nixpkgs/0a74880df16e585f85166d4a991ac8fd1b08773b is the change I made that pulls in the packages.

The branch is https://github.com/mdorman/nixpkgs/tree/haskell-updates, and though it shouldn't matter much, it is based on top of https://github.com/peti/nixpkgs/tree/haskell-updates.

[2017-11-10 16:33] krakrjak commented on #192
That error makes sense... With the `language-c` update you don't need this typdef any more. It's cruft and the way the fix I did makes them both be `__float128` so that typdef is no longer needed once the bump is made to `language-c`.

[2017-11-25 07:07] krakrjak commented on #192
@deech `language-c` PR #42 just got merged.

[2017-11-25 16:57] bergmark opened #195 "Compatibility with language-c 0.7.1"
[code]

https://github.com/fpco/stackage/issues/2860

[2017-11-25 16:58] bergmark commented on #195
I forgot to check the open PR's, #193.

[2017-11-25 19:50] deech commented on #192
I've just uploaded [c2hs 0.28.3](http://hackage.haskell.org/package/c2hs-0.28.3). It has [language-c-0.7.1](http://hackage.haskell.org/package/language-c) which has a fix for [the _Float128 bug](https://github.com/visq/language-c/blob/master/ChangeLog#L5). There's a test case in place but if someone could try it and let me know I'll close the issue.

[2017-11-25 19:52] deech commented on #191
I think this is now fixed in https://github.com/haskell/c2hs/issues/192#issuecomment-346962050. Please try and let me know and I'll close.

[2017-11-25 19:55] deech commented on #195
I just fixed this in https://github.com/haskell/c2hs/issues/192#issuecomment-346962050.

[2017-11-25 21:17] bergmark commented on #195
Thanks!

[2017-11-25 21:17] #195 closed

[2017-11-27 14:07] peti commented on #192
The `c2hs-0.28.3` test suite still fails when built in NixOS:

[code]

[2017-11-27 14:41] deech commented on #192
I am able to reproduce but I haven't had time to investigate why it's happening. `_Float128` parses in this context:
[code]
but not in this one:
[code]
I'll investigate later on this evening. Sorry for the trouble.

[2017-11-27 15:13] jchia commented on #192
@peti Which version of gcc are you using? Are you using a version older than 7? In such cases, the `typedef` line is compiled:
[code]

I think this is problematic for pre-7 gcc and C++ mode. https://github.com/visq/language-c/issues/43

[2017-11-27 15:24] peti commented on #192
@jchia, NixOS compiles this code with GHC 6.4.0.

[2017-11-27 15:31] jchia commented on #192
@peti I suspect that under GCC 7 the problem goes away, as elucidated in https://github.com/visq/language-c/issues/43. Would it be easy for you to try GCC 7 and test my theory?

[2017-11-27 18:51] peti commented on #192
Unfortunately, it's not easy test these builds with GCC 7.x. It can be
done, but it's very build intensive and I don't think I'll have a chance
to do it. :-(

[2017-11-29 16:34] sciencemanx opened #197 "Missing dependency"
The hackage package is missing happy as a dependency causing cabal install failure without happy installed previously.

[2018-01-13 03:18] XVilka opened #198 "GCC-7.0 specific _Float128 type - cannot recognize"
When compiling alsa-mixer Haskell library met this problem:
[code]
Lines that cause it:
[code]
Attaching full header here
[floatn.h.zip](https://github.com/haskell/c2hs/files/1628012/floatn.h.zip)

Gentoo bug https://bugs.gentoo.org/644200

[2018-01-13 03:22] XVilka commented on #191
Still fails on it https://github.com/haskell/c2hs/issues/198

[2018-01-25 04:48] abarbu commented on #198
You can build by just skipping the header `--cppopts=-D_BITS_FLOATN_H`. At least there's a workaround since 6+ months later c2hs is still broken :(

[2018-02-13 06:45] claudeha opened #199 "The symbol `)' does not fit here."
Trying to `cabal install -f bundled -f opengl fltkhs` in Appveyor (Windows compiler-as-a-service, with ghc-8.2.2 tarball downloaded from haskell.org inside its MSYS environment).  I get a failure from `c2hs` related to the `intrin-impl.h` bundled with the ghc distribution of mingw:

    ...
    Installed language-c-0.7.1
    Installed c2hs-0.28.3
    ....
    Preprocessing library for fltkhs-0.5.4

[2018-02-13 09:14] claudeha commented on #199
It also works fine with ghc-8.0.2 from https://downloads.haskell.org/~ghc/8.0.2/ghc-8.0.2-x86_64-unknown-mingw32-win10.tar.xz

[2018-02-13 22:41] deech commented on #199
Thanks for this awesome bug report. Although I don't know much about inline ASM (`__asm__ (...)`) I was able to get `c2hs` to read this file when I passed `cc-options: -D__FLAGCLOBBER2='"cc"'` to the build options. So it seems the issue is `__FLAGCLOBBER` is not defined and `c2hs` fails to parse:
[code]

I'll have to look into it further. I don't know enough to know if this is illegal C, something

[2018-02-19 16:28] dpreed opened #200 "{#const #} doesn't really work for #define constants"
The current implementation of the const hook is disappointing. Essentially it is a string replacement only for a define, so it doesn't do a reasonable thing with any kind of expressions. The macro definition, post-expansion by the C preprocessor, is what is inserted.

[code]
gets converted to:
[code]
where the second line is hardly what one would expect when reading the documentation for #const
I

[2018-02-27 13:07] krisis opened #201 "#fun hook didn't work as expected for getmntent(3)"
### Description
`getmntent` function signature from `man`,
[code]

`#fun` hook syntax used when this issue was observed,
[code]
Generated definiton for `getmntent`
[code]
Full example to recreate this issue can be found [here](https://gist.github.com/krisis/e80b8cf6aeae4f3b08a448607afd5022/65ee329b4949c97a583413ed5a83c70f3ebb0d05)

### Steps to reproduce
- Command used to generate Haskell binding

[2018-03-16 18:38] justinchiu commented on #192
@jchia I got the ` /usr/include/x86_64-linux-gnu/bits/floatn.h:74: (column 29) [ERROR]  >>> Syntax error ! The symbol ; does not fit here.` error with gcc 5, but it went away with gcc 7 as you expected.

[2018-04-17 23:17] KaneTW opened #202 "c2hs.exe fails under windows and stack: $topdir"
Given `ghc --info`:
[code]
c2hs as invoked by stack fails with:
[code]

[2018-04-19 21:48] KaneTW commented on #202
See #203 for a fix

[2018-04-28 10:49] peti commented on #192
For what it's worth, the test suite still fails in c2hs-2.8.3:

    Build with /nix/store/3cv3s9lv79qjkqyafbclbk03gz5z813w-ghc-8.2.2.
    ignoring (possibly broken) abi-depends field for packages
    unpacking sources
    unpacking source archive /nix/store/5j4jjwqzpsbsl1pz1yppa90kyy132js4-c2hs-0.28.3.tar.gz
    source root is c2hs-0.28.3
    setting SOURCE_DATE_EPOCH to timestamp 1511638910 of fi

[2018-04-28 13:59] jchia commented on #192
@peti I think this issue depends on [this language-c issue](https://github.com/visq/language-c/issues/43). If that issue is solved, this issue is solved.

[2018-05-04 07:28] krakrjak commented on #198
This is the latest bug to show this error so I'm putting this here. (_also mentioned in #192 and #191_) I  have pushed a commit with a potential fix in `language_c`. It could use some testing as I don't have as easy a way to replicate this as everyone else seems to.

Commit a7574997997752d98266d45c48ba21d801d8c77b at [github/krakrjak/language-c](https://github.com/krakrjak/language-c.git) is a str

[2018-05-12 01:14] krakrjak commented on #192
@peti yeah, but I think for different reasons. It's hard to pick the signal out of your log posting, but I think you have a failure in test case #7.

Your error log:
[code]

My log:
[code]

We need a different issue for your error as it is seemingly unrelated to this issue. Please correct me if I'm misunderstanding your problem @peti.

[2018-05-12 08:47] peti opened #204 "c2hs-2.8.3 fails test suite for "issue 7""
The c2hs-2.8.3 test suite fails with the following error when run on x86_64-linux:

    Build with /nix/store/3cv3s9lv79qjkqyafbclbk03gz5z813w-ghc-8.2.2.
    ignoring (possibly broken) abi-depends field for packages
    unpacking sources
    unpacking source archive /nix/store/5j4jjwqzpsbsl1pz1yppa90kyy132js4-c2hs-0.28.3.tar.gz
    source root is c2hs-0.28.3
    setting SOURCE_DATE_EPOCH to timest

[2018-05-12 08:51] peti commented on #192
@krakrjak, oh, good catch. Apparently, I misunderstood the nature of the test suite failure. I opened a new ticket #204 for that issue. Thank you.

[2018-06-04 17:03] #202 closed

[2018-06-05 14:20] felixonmars opened #206 "New test failures in 0.28.4"
The errors are not present in 0.28.3, with GHC 8.4.3 here.

[code]

[2018-06-05 17:51] #162 closed

[2018-06-05 19:16] deech commented on #206
I can reproduce this and I'm seeing it on 0.28.3 as well. Thanks for the report!

[2018-06-05 19:28] snoyberg opened #207 "issue-192 test files appear to be missing"
Original issue: https://github.com/commercialhaskell/stackage/issues/3701

[code]

[2018-06-05 19:33] deech commented on #207
I just noticed this as well. Thanks!

[2018-06-05 20:40] deech commented on #207
Should be fixed now.

[2018-06-06 04:14] felixonmars commented on #206
Update: It looks weird but 0.28.5 works correctly again here.

[2018-06-06 11:17] deech commented on #206
What looks weird about it?

[2018-06-06 11:22] felixonmars commented on #206
The changes do not look related - maybe I'm not really familiar with it :P

[2018-06-06 13:21] mihaimaruseac commented on #207
It is, thanks

[2018-06-06 15:00] snoyberg commented on #207
Thanks @deech

[2018-06-06 15:00] #207 closed

[2018-06-11 20:28] mitchellwrosen opened #210 "`makeArg` pattern match failure"
I've made a repository that possibly highlights a bug in `c2hs`:

htt
ps://github.com/mitchellwrosen/language-c-issue-54

To reproduce, run:

[code]

(requires new-ish `cabal-install`, probably 2.0+).

On my machine, this produces:

[code]

[2018-07-19 12:29] georgewsinger opened #212 "`{#pointer … newtype#}` vs. `{#pointer … foreign newtype#}` Type Correspondences"
I have some conceptual questions about how C2HS generates type correspondences from `{#pointer …}` declarations. First, let `~` denote a type correspondence operator between C types and Haskell types. Then is it correct to say that

[code]

generates the correspondence `*CTypeName ~ HaskellName`, while

[code]

generates the correspondence `*CTypeName ~ (Ptr HaskellName)`?

This is despite the fac

[2018-08-25 19:05] qrilka commented on #198
I'm not sure why but switching to GCC 7 on Gentoo resolved this issue for me, like it's described in https://bugs.gentoo.org/644200

[2018-08-29 11:12] CthulhuDen opened #214 "Use type parameter (if specified) for default out-marshall ForeignPtr"
Related to #73.

I believe fix for that previous issue did not address the case when pointer type parater was specified in pointer declaration. For example, if we have

    {# pointer *cpSpace as CPSpacePtr foreign finalizer cpSpaceFree -> CPSpace #}

The produced finalizer import block will read as follows:

    foreign import ccall "Chiphunk.chs.h &cpSpaceFree"
      cpSpaceFree :: C2HSImp.Final

[2018-11-22 05:56] newhoggy opened #215 "The symbol `v' does not fit here"
[code]

Only reproducible in CI for me.  It builds locally.

https://circleci.com/gh/haskell-works/hw-json-simd/152

https://github.com/haskell-works/hw-json-simd/pull/4

[2018-11-22 10:57] newhoggy commented on #215
Can be reproduced like this:

[code]

[2018-11-22 11:36] newhoggy commented on #215
For reference the failing build is on the commit `1d21c17d27c9031b32e006ed53aa59d688230901`

[2018-11-22 11:44] newhoggy commented on #215
After applying the following patch, the code builds:

[code]

Any chance we could have a better error message?

[2018-11-28 22:24] KaneTW opened #216 "stg_ap_p_ret crash on GHC 8.6.x"
c2hs is occasionally, but not always segfaulting on our project https://github.com/SimulaVR/Simula (specifically simula-wayland) with stg_ap_p_ret. Haven't tried minimizing the example yet, and it's staggeringly elusive.

[2018-12-02 08:12] Magicloud opened #217 "Will there be a syntax for withArrayLen?"
Right now, I still have to write Haskell code with `call` or unexposed `fun` to wrap C functions that take array parameter. The structure of them are so similar, I think it is possible to make a c2hs syntax.
Is it possible?

[2018-12-02 17:19] deech commented on #215
Sorry this took me a while to get to this. Last week was Thanksgiving and today was the first time I was able to work on the this issue.

In any case I've was able to get `c2hs` generate bindings correctly in your Docker container, not by using your patch, but by adding `stdint.h` to `simd.h` since this is where `uint64_t` is defined. I do run into other compilatiton errors but they don't seem `c2

[2018-12-02 19:42] deech commented on #217
Do you mean special syntax for something like `void foo(bar* barArray, int barLen, ...)`?

[2018-12-07 10:06] Magicloud opened #218 "In what case would c2hs import Foreign.Ptr?"
I have two pointers defined in exactly the same way. And two modules contains `fun` definitions for each pointer. One of them built well. The other complains on unknown type `Ptr`. Apparently, in the second .hs file, a few imports are missing. I could not figure out what caused the difference.

_error message_
[code]

_pointer definition_
`{#pointer *c_typedef as Typedef foreign finalizer typedef_

[2018-12-08 17:21] Magicloud commented on #218
I also got another issue that `Foreign.Marshal` is not imported.

[2018-12-11 07:08] Magicloud opened #219 "Is it possible to have C2HS know the "type" definition?"
Many types have builtin marshallers, like Int, Double. But if I had `type X = Double`, then I had to give explicit marshaller when using X.

Is it possible to have C2HS remember the type "X" somehow, and generate code just like it was "Double"?

[2018-12-11 09:21] Magicloud opened #220 "C2HS generates `Ptr (Ptr STH)` type."
Similar type definitions.
[code]
Similar functions.
[code]
Different bindings.
[code]

[2018-12-11 09:30] Magicloud commented on #220
I see. Missed the `**` in .h.

[2018-12-11 09:30] #220 closed

[2018-12-15 08:00] Magicloud commented on #174
I have the same question. I thought the finalizer would be used in default out marshaller. But it is just `newForeignPtr_`. Unless GHC would call the finalizer itself, I think there is something wrong and has this function correctly working.

[2018-12-15 09:02] Magicloud opened #222 "About C2HS generated ccall-s."
I think C2HS tends to ease the process of writing of FFI. And it provides a **^** in fun so I do not need to care about the naming. This is all cool.

But since C2HS generates all ccall-s with name'_ in the same module, I must either write a exporting list, which includes all the names I did not care, or show some weird things in IDE intelligent sense or doc by haddock.

Could C2HS also take care

[2018-12-15 09:20] Magicloud opened #223 "Could not get default hook work."
`{#default out `Context' [t *] outContext*#}`

I got "Something went wrong."

`{#default out `Context' outContext*#}`

I got "The phrase `out' is not allowed here."

[code]

[2018-12-18 09:59] Magicloud opened #224 "How could I modify the wrappers C2HS generated?"
For example, I want some fun hooks to generate wrappers wrapped by `liftIO`.
From
[code]
to
[code]

How could I do it? Manually writing wrappers on C2HS' wrappers seems like a pain. Does C2HS support some kind of programmable hooks?

On a big picture thinking, could C2HS be exposed as a lib and be used in Cabal custom-setup? So above task can be done without heavily changing C2HS source.

[2018-12-18 16:46] deech commented on #223
Could you post your definitions for `Context` and the `t` typedef?

[2018-12-18 16:51] deech commented on #222
Is there a reason you can't make your C2HS modules `Internal` and only export the ones you care about in some public facing one?

I understand this isn't ideal but I'm not sure C2HS should be generating modules in your project tree.

To your first point, let me think about it. Do you have an `export` syntax in mind?

[2018-12-19 03:01] Magicloud commented on #222
Sorry, I may not make myself clear. By using `Internal`, I meant to put the ccall-s in that, not C2HS wrappers. So the "normal" module would be clean that only contains the functions I defined with `fun` hook. Thus I do not need to bother with module exporting list.

For `export` syntax, I think a simple comma list satisfies. Something like
[code]
would exports `Test.MyType`, `Text.c_fun`.

[2018-12-24 21:00] flip111 opened #225 "Build with stack LTS-13.0"
Maybe it's ok to upgrade the dependency on logging?

I get the following error while building with LTS-13.0

[code]

[2018-12-28 06:38] Magicloud opened #226 "Maybe the "withSomething" functions generated by C2HS should use names less possible to be used normally."
Sorry, I could not think of a more meaningful title right now. The case I talked about is:

Normally, in Haskell world, action requires finalizer or safe guard would be wrapped in withSomething function, like `System.IO.withFile`. C2HS also uses this naming style causes conflicts when I want to make such wapper without exposing the raw function bindings.

I have to use an "Internal" module contain

[2018-12-28 06:51] Magicloud opened #227 "Maybe C2HS generated functions should not use "param omitting" style."
I am making a code generator that reads source and generating some wrappers. It worked fine with my own source. But failed with C2HS result since C2HS generated source uses param omitting.

For example, when I defined a `Rect` type with pointer hook, I would get a `withRect` function as `withRect (Rect fptr) = C2HSImp.withForeignPtr fptr` which omits the last param.

Since `withRect` is generated

[2019-01-08 06:17] Magicloud opened #228 "Is it possible to share type definitions between packages?"
My routine for one binding package is that, a Types.chs for all pointer hook, and some modules containing fun hooks and using Types via import hook.

But when I made another binding package using the same Types (so those two packages can work with each other), since I do not have Types.chs in the second package, I cannot use import hook. And thus, seems like, C2HS knows nothing about the types. An

[2019-01-08 08:09] Magicloud commented on #224
I have got another usercase. Version checking.

It is quite common that different versions of a C lib provide different functions. I think the common pattern in Haskell FFI is using C Macro.

[code]

This makes the the module definition inconsistent. So I think a wrapper is better.

[code]

And this kind of wrapper can also be used for ability check. Instead of vanishing the function, telling the

[2019-01-08 20:16] jwaldmann opened #229 "cabal install fails with ghc-options=-haddock"
[code]

I think this is caused by  https://ghc.haskell.org/trac/ghc/ticket/8944.

I am recording it here as it was highly non-obvious to me (I needed some time to recall that I have `-haddock` in my `.cabal/config`)

In the cabal tracker:  https://github.com/haskell/cabal/issues/5827

[2019-01-15 20:50] dpreed opened #230 "unnamed struct elements and union elements not supported"
The following style of struct is relatively common in C interfaces, using the unnamed structure or union as a holder for items without requiring an intermediate qualifier:

struct foo {
   union {
     int x;
     double y;
     void (*foo) z(void);
   };
   int more;
} bar;

The names bar.x, bar.y and bar.z are all valid, and they all refer to the same location within the struct.
The name bar.mor

[2019-01-15 20:53] dpreed opened #231 "Has issue #7 come back?"
I built C2HS using GHC 8.6.3 on my Fedora 29 system. When I ran the tests, in "test-bugs" issue 7 failed. I can't figure out why it fails - the issue was closed long ago.
Is this expected behavior?

[2019-01-16 22:37] deech commented on #231
I am unable to reproduce this. What version of `gcc` are you running?

[2019-01-17 19:15] dpreed commented on #231
Here's the version of gcc.
[code]

[2019-01-18 21:33] deech commented on #231
That's pretty odd. Unfortunately I don't have a Fedora 29 distribution at my disposal so I'm unable to reproduce but I'll leave it open in case someone else does.

[2019-01-18 23:55] dpreed commented on #231
I can poke at it a bit more.

-----Original Message-----
From: "deech" <notifications@github.com>
Sent: Friday, January 18, 2019 4:33pm
To: "haskell/c2hs" <c2hs@noreply.github.com>
Cc: "David P. Reed" <dpreed@deepplum.com>, "Author" <author@noreply.github.com>
Subject: Re: [haskell/c2hs] Has issue #7 come back? (#231)

That's pretty odd. Unfortunately I don't have a Fedora 29 distribution at my di

[2019-01-24 13:00] Magicloud opened #232 "Please add an option to suppress `LINE` pragma."
This comes from https://github.com/haskell/haddock/issues/1001.

If I understand it correctly, the `LINE` is just for debugging. If Cabal building system could pass an option to c2hs in haddock process to suppress the pragma, the haddock issue should be gone.

[2019-02-09 06:01] Magicloud commented on #228
I am manually copying `.chi` between packages. It works. But requires some manually maintain. I am afraid it would lose sync. Wondering if there is a better way.

[2019-02-10 10:32] Magicloud commented on #217
Sorry. My mistake. Just learnt what `&` actually means. So this does not require a syntax to work.

[2019-02-10 10:32] #217 closed

[2019-02-12 20:48] dpreed commented on #230
A pull request (#233) has been submitted for the maintainers' consideration. Works like a charm for me, allowing me to interface to Linux interfaces like the KVM ioctls.

[2019-02-16 18:43] peterbecich commented on #198
Thanks @qrilka .  This worked for me:  ```stack install alsa-mixer --with-gcc /usr/bin/gcc-7```

[2019-03-15 00:20] vmchale commented on #200
Well, this would cause problems with cross-compilation.

However, I would definitely appreciate this feature.

[2019-04-20 03:48] mpdairy opened #234 "default out-marshaller for ForeignPtr adds finalizer for null ptr"
Sometimes C functions return null pointers. The default marshaller for ForeignPtr's in c2hs still adds a finalizer for null pointers, which causes the application to crash when the memory is freed. I suggest the default marshaller should check if the ptr equals `nullPtr` and, if so, use `newForeignPtr_` instead.

[2019-04-22 10:29] teto opened #235 "Generate an enum that supports Bits instances"
First of all let me apologize if this is not the correct place to post (as my issue is a priori not with the c2hs software).
I have a TcpState data structure generated by c2hs via `{#enum TCP_ESTABLISHED as TcpState {underscoreToCase} deriving (Eq, Show)#}`.
which generates (from the linux headers)
[code]

I would like to add Data.Bits instance to TcpState so that I can write `TcpEstablished .|. T

[2019-05-10 14:17] georgefst opened #236 "Preserving existing result with +"
The `+` notation in `fun` hooks (for converting a function that manipulates a fresh pointer to, to one that does the allocation itself and returns the pointer) is to my mind one of the nicest features of c2hs. Unfortunately, it seems to be useless in the case where the C function returns something useful eg. an error code, and we want to return that result along with the pointer.

It would be amaz

[2019-05-18 20:46] arsdragonfly opened #237 "c2hs always fails with "Prelude.head: empty list""
Using the simple test in tests/system/simple:
[code]
running with ```-d chs``` yields
[code]

I suspect it's a different issue from #192

[2019-05-18 21:20] arsdragonfly commented on #237
detailed stack trace:
[code]

[2019-05-18 21:23] arsdragonfly commented on #237
Ignore the previous backtrace; here's the correct one
[code]

[2019-05-19 00:05] arsdragonfly commented on #237
failing all of the test cases with the same error

[2019-05-19 04:20] arsdragonfly opened #238 "Cannot deal with non-ASCII preprocessor output"
Currently the gcc preprocessor output varies depending on the language set. On my system, this is what a short c program's output looks like:

[code]

if we override LANG, we get
[code]
This does sound stupid, but it's breaking every test case and causing more problems downstream (every package that depends on c2hs is failing to build right now). You can see error log in #237 . I suppose it has so

[2019-05-19 04:20] arsdragonfly commented on #237
See #238 .

[2019-05-19 04:20] #237 closed

[2019-07-13 11:39] Krantz-XRF opened #239 "Workaround for GenBind.evalCCast"
I get the following message when using `enum define`:

    c2hs.exe: Feature not yet implemented:
      GenBind.evalCCast: Casts are implemented only for integral constants

The macros involved are `#define`ed in terms of other helper macros like:

    #define WRAPPER(x)    ((int)((x) & 15) << 16)
    #define MACRO_ORIGIN  42
    #define MACRO_TEST    WRAPPER(MACRO_ORIGIN)

Then, when I refer to `

[2019-09-21 21:09] vmchale opened #241 "Feature request: allow C finalizers that can call back into Haskell"
I ran into the following error with my [libarchive](https://github.com/vmchale/libarchive) bindings:

[code]

Looking at generated code, it looks like `c2hs` uses `Foreign.newForeignPtr` by default:

[code]

(This is from
[code]
among other things)

Would it be possible to allow concurrent finalizers or something with a new keyword?

[2019-09-26 18:12] vmchale opened #242 "No marshaller for CULLong and C2HSImp.CULLong"
This seems to be an oversight; I can work around it by using `id` to marshal in/out.

See e.g. https://github.com/vmchale/lzlib/blob/master/src/Codec/Lzip/Raw.chs#L86.

If I remove the `id` marshalers I get

[code]

[2019-09-28 15:35] deech commented on #242
Fixed https://github.com/haskell/c2hs/pull/243. Please close if it works for you.

[2019-10-02 01:46] vmchale commented on #242
Thanks :)

[2019-10-02 01:46] #242 closed

[2019-10-04 16:03] deech commented on #241
I've looked into this a fair bit and adding the feature itself shouldn't be hard, I'm thinking about a syntax like:
[code]
The problem is that currently everything is imported qualified under the `C2HSImp` namespace and I'm struggling to come up with a solution less ugly than:
[code]
and special casing that one `newForeignPtr` so it's generated as `C2HSImp_Foreign_Concurrent.newForeignPtr`.

I'll

[2019-11-25 17:38] XVilka commented on #198
Was this fixed? Seems not reproducible anymore.

[2019-12-17 18:46] krakrjak commented on #198
If you are using gcc-7 then this issue is 100% fixed. Potentially there is still an issue for pre-gcc-7 version (maybe), but we haven't seen reports of this issue when using gcc<7 in over a year.

[2019-12-17 19:56] myfreeweb opened #244 "Preprocessing inside {#offsetof #} {#sizeof #} etc"
`linux/input.h` uses defines to provide different public aliases for struct fields:

[code]

Unfortunately it doesn't seem like c2hs wants to handle code like `{#offsetof input_event->input_event_usec #}`

[2019-12-17 22:50] trofi opened #245 "tests fail against shelly-1.9: No instance for (CmdArg Char) arising from a use of ‘cmd’"
Noticed test build failure after `shelly-1.9` update:
[code]

[code]

Looks like it's caused by removal of `instance CmdArg FilePath where toTextArg = toTextIgnore` : https://github.com/gregwebs/Shelly.hs/commit/8288d27b93b57574135014d0888cf33f325f7c80#diff-bb53513ad3d8403c781068f6d4466dceL186

[2019-12-19 05:21] DevJac opened #246 "C function takes `Color *` (a Color pointer), c2hs foreign import takes Ptr ()"
I have the following code in `Lib.chs`:

[code]
When building `Lib.chs.c` contains:

[code]

And `Lib.hs` contains, in part:

[code]
Which results in the following type error:

[code]
The problem is that the generated C wrapper accepts a `Color *` (a Color pointer), but the "foreign import" in the generated Haskell code tells Haskell that it accept a `Ptr ()`. It should be `Ptr Color` instead of `

[2020-01-17 19:25] vmchale commented on #246
I think you want something like

[code]

perhaps?

Here's an example of mine: https://github.com/vmchale/lzlib/blob/master/src/Codec/Lzip/Raw.chs#L87

[2020-02-21 05:05] poscat0x04 opened #247 "#get hooks cannot deduce the return pointer type"
Suppose I have a struct defined like this:
[code]
`alpm_depend_t` is already associated with a Haskell type using the #pointer hook:
[code]
now I define a accessor using the #get hook:
[code]
this is the code generated by c2hs:
[code]
but the return type should be `AlpmDependPtr (Ptr AlpmDepend)` instead of `Ptr ()`

[2020-02-21 19:28] poscat0x04 opened #248 "Automatically generate Storable instances for enums"
Enums are CInts in memory so this should work for all types
[code]

[2020-02-25 10:59] poscat0x04 commented on #247
nvm

[2020-02-25 10:59] #247 closed

[2020-03-05 05:10] XVilka opened #250 "Create `*.chs` files in the output directory when specified."
I use the following way to produce Haskell bindings:
[code]
where `c2hs -d trace -d genbind -d ctrav -k -t /out/dir -C "..."` is the actual command. C2hs creates `*.chs` files in the current directory while `*.chs.h` and `*.hs` files in the output. But it fails to produce meaningful `*.hs` files because it can't find the `*.chs` files. Maybe it makes sense to put them in the same output directory

[2020-03-24 07:03] XVilka commented on #250
Sorry, was my mistake.

[2020-03-24 07:03] #250 closed

[2020-03-26 22:43] mattrepl opened #251 "Function hooks not using provided type for marshaling"
Assuming a C function prototype like:
`bool getFooAtIndex(Ctx *ctx, uint64_t index, Foo *foo);`
where the return value indicates whether the call was successful. And when successful, the Foo structure pointed to by *foo should have it's Foo fields set appropriately. Foo is non-opaque, that is, we know the definition and we have a corresponding Haskell type and this type has a `Storable` instance.

[2020-04-14 05:55] arsdragonfly commented on #238
`Prelude.head: empty list` error appears on international locales; needs `export LANG=C` as workaround.

[2020-04-29 21:03] nganhkhoa commented on #245
It seems that we need to change from String to Text. A naive solution is `T.pack` everywhere. Any other suggestions?

This issue stop testing, and build status is always `failing`.

[2020-05-07 19:31] jimenezrick commented on #234
I was also looking into this. In my case, I ended up writing a thin C wrapper function used as finalizer, where I checked if the pointer is not NULL and then I call the function doing the release operation.

[2020-05-26 10:45] poscat0x04 opened #253 "Unable to build documentation"
using cabal:
[code]

[2020-05-28 21:15] kmltdr opened #254 "c2hs paper: Access Forbidden"
http://www.cse.unsw.edu.au/~chak/papers/papers.html#c2hs
It's linked in wiki:
https://github.com/haskell/c2hs/wiki/User-Guide
https://github.com/haskell/c2hs/wiki/Implementation-of-Haskell-Binding-Modules

[2020-06-03 13:01] l29ah commented on #254
Available on sci-hub as 10.1007/10722298_8.

[2020-06-05 12:23] cblp opened #255 "Syntax error! The symbol `__attribute__' does not fit here. for time.h on OSX"
[code]

Because of similar issues, I consider it a c2hs bug.

[2020-06-25 11:17] d86leader commented on #199
Hello. I've got the same problem on GHC-8.10.1. This happens in my file where I `#include <Windows.h>`.

Unfortunately, the workaround doesn't work anymore, as `__FLAGGLOBBER2` is now overwritten based on `__GCC_ASM_FLAG_OUTPUTS__` in `intrin-impl.h:77`:
[code]
So the new workaround is to undefine the variable: `cc-options: -U__GCC_ASM_FLAG_OUTPUTS__`. But I wonder about that comment about better

[2020-07-07 20:08] hasufell commented on #255
Similar: https://gitlab.haskell.org/haskell/ghcup-hs/-/jobs/389030#L1196

[code]

[2020-07-20 16:06] georgefst commented on #253
Turns out this is a very misleading error message. Can be fixed by removing 6 lines across 4 files, where there are comments beginning with `*`.

But this will be a non-issue when [!2377](https://gitlab.haskell.org/ghc/ghc/-/merge_requests/2377) lands, turning these from errors to warnings. I'm told that will probably be in GHC 8.12.

[2020-07-20 16:10] georgefst commented on #229
I've just hit this when trying to use `haskell-language-server` with a project that relies on `c2hs`. See #253.

[2020-07-20 16:13] georgefst commented on #253
Those `*`s are actually serving a purpose in terms of formatting, but perhaps they could be replaced with something like `-`.

[2020-08-11 22:37] mattrepl opened #257 "Boolean struct members are incorrectly marshalled"
The struct field getter for C2HS (src/C2HS/Gen/Bind.hs:1715) assumes a C `bool` struct member is stored as a `CInt` (4 bytes), when C `bool` values on many platforms use 1 byte. This results in corrupted boolean values on such platforms, at a minimum, and may cause a program using C2HS to crash if the process attempts to read memory that it cannot access.

A longterm fix would use platform informa

[2020-08-13 13:07] #229 closed

[2020-08-13 13:07] #253 closed

[2020-08-13 22:16] deech commented on #257
Hi,
I unfortunately was not notified of any issues or PRs until today when someone directly @'ed me. In any case, we should at least be able to test the size of a bool locally and generate either a `CInt` or `CChar`. The only concern is that will break codebases that now depend on a `bool` marshalling to `CInt`.

I agree that using `CBool`  is the cleanest solution but I'm not sure how many people

[2020-08-13 22:20] deech commented on #255
This is an issue with `language-c` not being able to parse those constructs. I've been getting around them with something like this in my `.cabal` file:
[code]

[2020-08-14 15:24] mattrepl commented on #257
Hi deech,
Oh no, I'm glad to hear there was only a notifications issue but sorry you have to deal with a backlog.

I think the right approach for C2HS is to maintain backwards compatibility as much as possible. After looking at the available C types in `Foreign.C.Types` again, using `CUChar` (rather than `CChar` as I originally suggested) for a one-byte representation of C's `bool` and selecting w

[2020-08-23 07:37] anttih opened #259 "Darwin: The symbol `_9' does not fit here."
c2hs (or language-c) does not seem to be able to parse the value `10_9`

[code]

The line in CFBase.hs is this:

[code]

I definition for `CF_AVAILABLE` seems to be this:

[code]

**c2hs version**: `0.28.6`

[2020-08-24 11:54] deech commented on #259
This is unfortunately and issue with `language-c`. Here is a workaround https://github.com/haskell/c2hs/issues/255

[2020-09-01 01:51] mouse07410 opened #260 "Hackage version of c2hs fails to build with GHC-8.8.4 or 8.10.2"
Same complaint regardless of whether I try with GHC-8.10.2 or 8.8.4:

[code]

[2020-10-06 09:19] jpwidera opened #262 "pseudo block od c and enum, creates wrong line counting"
WIth version 28.1 on Master branch following code will create wrong line counting:
[code]

Will create following code snippet
[code]
This `LINE 8` should be `LINE 9`. This can be simply verified by repeating this the first code block. Each time, c2hs looses one line, eg.:
[code]
This leads to wrong line numbering in error/warnings.

Dumping the c2hs process gives following code for the pseudo-bloc

[2020-10-25 01:19] cjenn commented on #260
i getting this as well, attempting to install from stackage lts-11.3

error is slightly different:
[code]

[2020-10-25 01:29] cjenn commented on #260
this works perfectly fine with the version from the repo head; i assume it has already been fixed somewhere

in the meantime i got around this by adding
'''
extra-deps:
- git: https://github.com/haskell/c2hs.git
  commit: 20d3c8dedde83af91c4ac06486bf346316e07285
[code]

[2020-11-04 20:27] emlautarom1 commented on #260
I'm having the same issue but not directly since I'm using [gi-cairo-render](https://github.com/cohomology/gi-cairo-render) in a project, which fails to compile since it can't build this dependency.

Any workaround? I'm using **cabal**, not stack, btw.

[2020-11-04 20:30] ikea-shark-official commented on #260
you should be able to do something similar with a cabal.project file

i think
[code]
would work?

[2020-11-04 20:39] emlautarom1 commented on #260
Indeed, this solution works.

For future reference, I'm running GHC 8.8.4, cabal-install 3.2.0, Fedora 33

[2020-11-08 20:32] mattrepl commented on #257
Hi @deech, I ran into this problem again. Were you ok with the solution I proposed earlier? I'd like to fix it instead of writing workarounds in my own code.

[2020-11-10 18:01] #257 closed

[2020-11-29 13:58] georgefst opened #264 "Release schedule"
Hi, just wondering if there's a Hackage release on the horizon, and if there's anything I can do to speed it along.

Due to #256, I've got `source-repository-package` sections for `c2hs` in a lot of my projects. And, in combination with haskell/cabal#5586 (which is, admittedly, fixed in the upcoming 3.4), this is often causing unnecessary rebuilds.

Even a patch release just containing #256 (which

[2020-12-06 01:19] deech commented on #264
Version 0.28.7 is now [available](https://hackage.haskell.org/package/c2hs)

[2020-12-20 23:37] vmchale opened #267 "Loosen bounds on language-c"
c2hs requires `language-c >=0.7.1 && <0.9` now, but it could be relaxed to `>=0.7.1 && <0.10`

This would allow it to build with GHC 9.0, for one!

Thanks :)

[2021-02-11 11:54] #264 closed

[2021-02-11 17:50] mouse07410 commented on #260
I think it builds with 8.10.4 now (when pulled from Hackage). Thanks!

[2021-02-11 17:50] #260 closed

[2021-03-09 12:43] noughtmare commented on #254
It's also in the wayback machine: https://web.archive.org/web/20180701172843/http://www.cse.unsw.edu.au:80/~chak/papers/papers.html

[2021-03-24 16:42] felixonmars commented on #267
There is one failing test: https://github.com/haskell/c2hs/pull/261

[2021-03-26 22:37] romanofski opened #268 "Lexical error ! The character '#' does not fit here"
I've run into this problem while packaging https://github.com/purebred-mua/hs-notmuch for Fedora 34 and beyond. The build failed with:

[code]

A preliminary search showed, that it might be `LANG` related, however setting it to `C` doesn't change the error we're running into. I'm attaching the generated [Binding.i.txt](https://github.com/haskell/c2hs/files/6214600/Binding.i.txt). It doesn't look o

[2021-05-18 05:16] juhp commented on #268
See gtk2hs/gtk2hs#304

[2021-06-01 14:37] vmchale commented on #268
This will be fixed when the bounds on `language-c` are bumped, no?

[2021-06-08 11:13] why-not-try-calmer commented on #268
I am hitting the same issue when trying to `stack build` a project using the `cpython` package.

[2021-06-08 13:24] deech commented on #268
The `language-c` upper bounds have been bumped ( https://github.com/haskell/c2hs/commit/5912527eca481ca542a973c358436b0883be2aad ) . Does this still happen on `master`?

[2021-06-09 20:11] lebensterben commented on #268
@deech
I just build `c2hs` on from `master` branch and can confirm that it solved my problem.
Please consider to release this ASAP as this is breaking lots of packages.

[2021-06-12 17:44] podiki commented on #268
Also having issues with `stack build` for projects that need `c2hs`. I've used latest commit from here and still getting same error on building e.g. taffybar, though I'm not entirely sure the latest git version of `c2hs` is being used (should be...).

[2021-06-13 18:27] juhp commented on #268
deech kindly just released 0.28.8

[2021-08-24 18:46] hasufell commented on #255
Doesn't work here:

* https://gitlab.haskell.org/haskell/ghcup-hs/-/jobs/771092#L1331
* https://gitlab.haskell.org/haskell/ghcup-hs/-/commit/490207c6ac5d5aa2823483a6eba480d0ce2e459f#375f33130d9a0929983d444c20caa59f7929d709_30_21

[2021-09-19 07:50] PromyLOPh opened #269 "Hackage tarball lacks tests"
The tarball for version 0.28.8 lacks two directories with test data, which are present in this git repository:

- tests/bugs/issue-242
- tests/system/interruptible

Would it be possible to add them in the next release?

[2021-11-07 07:00] romanofski commented on #268
I think this can be closed.

[2021-11-07 07:00] #268 closed

[2021-11-14 17:40] deech opened #270 "Placeholder: removing `/=` from `Eq`"
This is a placeholder issue to track the [removal of `/=` from `Eq`](https://github.com/haskell/core-libraries-committee/issues/3). Most probably no action is required because `/=` will move into the Prelude which `c2hs` implicitly brings into scope.

[2021-11-14 20:26] int-index commented on #270
... what does that mean? It’s already in the Prelude, it stays in the Prelude.

[2021-11-15 02:50] deech commented on #270
@int-index I missed [the post earlier today](https://github.com/haskell/core-libraries-committee/issues/3#issuecomment-968311129) that says `/=` will stay in the Prelude, to me it wasn't clear from the proposal that it would so I opened the issue. Closing now.

[2021-11-15 02:50] #270 closed

[2021-11-23 17:29] gilgamec opened #271 "Haddock comments on enum constructors"
Haddock comments in `#fun` commands are passed on to the generated file, so that imported function arguments can be documented. Is it possible to do the same for imported `enum`s?

For example, if the C header file `foo.h` is
[code]
and the CHS file is
[code]
then the generated hs file defines MyEnum as
[code]
The haddock comments have disappeared. Is it possible to maintain them during generation

[2022-01-13 00:42] Kleidukos opened #272 "c2hs fails to produce the correct alignment"
I am producing bindings for `libsodium`, and especially the [following struct](https://github.com/jedisct1/libsodium/blob/07c2f6c053dd2aed1716444d667dcc781f14739c/src/libsodium/include/sodium/crypto_generichash_blake2b.h#L25):

[code]

Here is my Types.chs file:

<details>
<summary> Types.chs </summary>

[code]

</details>

And here is the generated Haskell code

<details>

<summary>Types.hs</summ

[2022-01-17 16:09] deech commented on #272
This is happening because currently `c2hs` ignores all `aligned` (and `packed`) GNU specific attributes. In this particular case `1` is accidentally correct because 384 is a multiple of 64 and so the field will naturally align at a 64 bit boundary. I'm not sure when I'll have time to add support for them.

[2022-01-17 16:10] Kleidukos commented on #272
@deech If you have an idea of how to do it maybe I can take a shot at it?

[2022-01-18 09:15] deech commented on #272
Yes absolutely, the addition would start where we calculate [struct and struct field alignments and sizes](https://github.com/deech/c2hs/blob/6c54658cfc860a5ca53513efda794f11c18a21e7/src/C2HS/Gen/Bind.hs#L2571-L2582) and affect calculations downstream of that. The GNU specific `packed` and `aligned` attributes are passed along in a [CAttr](https://github.com/visq/language-c/blob/c67759c5e74ae616ba

[2022-01-18 10:23] aditya-siram-leapyear commented on #272
Yet another option is to generate a small C file that includes the header and use the built in `sizeof`, `alignof` and `offsetof`. We already [do this](https://github.com/haskell/c2hs/blob/master/src/C2HS/Gen/Bind.hs#L3093-L3117) to get the size of a `bool`.

[2022-01-18 10:33] deech commented on #272
Yet another option is to generate a C file that includes the header and print the values we need using the builtin `sizeof`, `alignof` and `offsetof`. We do this currently to get the [size of a bool](https://github.com/haskell/c2hs/blob/6c54658cfc860a5ca53513efda794f11c18a21e7/src/C2HS/Gen/Bind.hs#L3093-L3118). Honestly if we can reliably generate the file this might be the best approach.

[2022-02-05 12:57] deech commented on #272
@Kleidukos Are you still interested in working on this issue? I'm happy to help you with it.

[2022-02-05 12:58] Kleidukos commented on #272
@deech I would love some help on that one. :)

[2022-02-05 13:06] deech commented on #272
Cool! Send me an email to the last maintainer address listed on the [Hackage page](https://hackage.haskell.org/package/c2hs) and we can set up a time to jump on a call and we can talk through options.

[2022-02-05 15:11] andreasabel commented on #245
@deech: This issue is fixed, AFAICT, and can be closed.

[2022-02-05 17:22] deech commented on #245
Thanks!

[2022-02-05 17:22] #245 closed

[2022-02-09 09:52] alicerum opened #274 "One more error with macos"
While attempting to depend on the `ncurses` package, build fails with:
[code]

`time.h` on line `198` looks like this:
[code]

I haven't yet found the workaround that would work.

[2022-02-12 20:11] deech commented on #272
I started a small [repo](https://github.com/deech/alignmentattributes)  to capture and run alignment and sizeof test cases. Once the feature is complete we can port them back to this repo.

[2022-02-20 21:07] Kleidukos commented on #272
@kozross :point_up:

[2022-03-07 13:15] deech commented on #272
Bump

[2022-03-09 20:16] kozross commented on #272
@deech @Kleidukos and I are looking at the example and working out a way forward: thanks for that!